<%= simple_form_for [:admin, page] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: {
                    class: 'js-slug-input',
                    data: { source: '#page_name' }
                  } %>
      <%= f.input :description %>
    </div>
    <div class="col-lg-4">
      <%= f.association :parent, 
                        collection: collection_tree(Page.all, page),
                        label_method: ->(p) { sanitize p[:label] },
                        value_method: ->(p) { p[:id] } unless page.internal_identifier.present? %>
      <%= f.input :position %>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
