<%= simple_form_for [:admin, page] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :description %>
      <h5 class="mt-5"><%= t('admin.pages.meta_informations') %></h5>
      <%= f.input :meta_title %>
      <%= f.input :meta_description %>
      <%= f.input :meta_illustration,
                  as: :single_deletable_file,
                  input_html: { accept: default_images_formats_accepted },
                  hint: images_formats_accepted_hint,
                  preview: true %>
    </div>
    <div class="col-lg-4">
      <%= f.association :parent, 
                        collection: collection_tree(Page.all, page),
                        label_method: ->(p) { sanitize p[:label] },
                        value_method: ->(p) { p[:id] } unless page.internal_identifier.present? %>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
