<%= simple_form_for [:admin, material] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: material.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#material_name' }
                  } %>
      <%= f.association :actors,
                        input_html: {
                          class: 'select2'
                        } %>
      <%= f.input :description %>
      <%= f.association :regions,
                        input_html: {
                          class: 'select2'
                        } %>
    </div>
    <div class="col-lg-4">
      <%= render 'admin/application/form/publication', f: f %>
      <%= f.input :image,
                  as: :single_deletable_file,
                  preview: true %>
    </div>
  </div>
  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <% content_for :buttons do %>
    <%= destroy_link material if material.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
