<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Material.human_attribute_name('name') %></th>
        <th><%= Material.human_attribute_name('image') %></th>
        <% if can?(:publish, Material) %>
          <th><%= Material.human_attribute_name('published') %></th>
          <th><%= Material.human_attribute_name('status') %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% materials.each do |material| %>
        <tr>
          <td><%= link_to_if can?(:read, material), material, [:admin, material] %></td>
          <td><%= kamifusen_tag material.image, width: 100 if material.image.attached? %></td>
          <% if can?(:publish, Material) %>
            <td><%= t(material.published?) %></td>
            <td><%= material.status_i18n %></td>
          <% end %>
          <td class="text-end">
            <%= edit_link material %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
