<%= content_for :title, @material %>

<div class="row">
  <div class="col-md-6">
    <%= show @material, :image, type: :image %>
  </div>
  <div class="col-md-6">
    <%= show @material, :description %>
  </div>
</div>

<%= render 'admin/criterions/partials/show', about: @material %>

<% content_for :buttons do %>
  <%= destroy_link @material %>
  <%= edit_link @material %>
<% end %>
