<%= content_for :title, @material %>

<div class="row">
  <div class="col-lg-4">
    <%= show @material, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <%= show @material, :description %>
    <%= show @material, :actor, type: :reference %>
    <%= show @material, :region, type: :reference %>
    <%= render 'admin/structure/items/kinds/show', about: @material %>
  </div>
</div>

<% content_for :buttons do %>
  <%= destroy_link @material %>
  <%= edit_link @material %>
<% end %>
