<%= content_for :title, @material %>

<div class="row">
  <div class="col-lg-4">
    <%= show @material, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <% if can?(:publish, @material) %>
      <%= show @material, :published %>
      <%= show @material, :authors, type: :list %>
      <%= show @material, :status, type: :enum, value: t("admin.publication_statuses.#{@material.status}") %>
    <% end %>
    <%= show @material, :description %>
    <%= show @material, :actors, type: :list %>
    <%= show @material, :regions, type: :list %>
    <%= show(@material, :sources) if can?(:update_sources, @material) %>
    <%= render 'admin/structure/items/kinds/show', about: @material %>
  </div>
</div>

<%= render 'admin/logs/widget' %>

<% content_for :buttons do %>
  <%= destroy_link @material %>
  <%= edit_link @material %>
<% end %>
