<% content_for :title, t('ui.transparency.title') %>

<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= t('ui.transparency.title') %></h1>
        </hgroup>
      </div>
    </div>
  </div>
</header>

<div class="document-content bg-white py-5">
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= Transparency::Year.human_attribute_name('value') %></th>
            <th class="text-end"><%= Transparency::Revenue.model_name.human(count: 2) %></th>
            <th class="text-end"><%= Transparency::Cost.model_name.human(count: 2) %></th>
            <th class="text-end"><%= Transparency::Year.human_attribute_name('total') %></th>
          </tr>
        </thead>
        <tbody>
          <% @years.each do |year| %>
            <tr>
              <td class="lead"><%= link_to year, transparency_year_path(year.value) %></td>
              <td class="text-end"><%= number_to_currency year.total_revenues, precision: 0 %></td>
              <td class="text-end"><%= number_to_currency year.total_costs, precision: 0 %></td>
              <td class="text-end"><%= number_to_currency year.total, precision: 0 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>