<% content_for :title, @year %>

<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= @year %></h1>
        </hgroup>
      </div>
    </div>
  </div>
</header>

<div class="document-content bg-white py-5">
  <div class="container">
    <div class="mb-5">
      <h2><%= Transparency::Cost.model_name.human(count: 2) %></h2>
      <div class="table-responsive">
        <table class="<%= table_classes %>">
          <thead>
            <tr>
              <th><%= Transparency::Cost.human_attribute_name('title') %></th>
              <th class="text-start"><%= Transparency::Cost.human_attribute_name('description') %></th>
              <th class="text-end"><%= Transparency::Cost.human_attribute_name('amount') %></th>
            </tr>
          </thead>
          <tbody>
            <% @year.costs.each do |cost| %>
              <tr>
                <td><%= cost %></td>
                <td><%= simple_format cost.description %></td>
                <td class="text-end"><%= number_to_currency cost.amount, precision: 0 %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="2"><%= t('ui.transparency.costs.total') %></th>
              <td class="text-end"><%= number_to_currency @year.total_costs, precision: 0 %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="mb-5">
      <h2><%= Transparency::Revenue.model_name.human(count: 2) %></h2>
      <div class="table-responsive">
        <table class="<%= table_classes %>">
          <thead>
            <tr>
              <th><%= Transparency::Revenue.human_attribute_name('title') %></th>
              <th class="text-start"><%= Transparency::Revenue.human_attribute_name('description') %></th>
              <th class="text-end"><%= Transparency::Revenue.human_attribute_name('amount') %></th>
            </tr>
          </thead>
          <tbody>
            <% @year.revenues.each do |revenue| %>
              <tr>
                <td><%= revenue %></td>
                <td><%= simple_format revenue.description %></td>
                <td class="text-end"><%= number_to_currency revenue.amount, precision: 0 %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="2"><%= t('ui.transparency.revenues.total') %></th>
              <td class="text-end"><%= number_to_currency @year.total_revenues, precision: 0 %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="mb-5">
      <h2><%= Transparency::Year.human_attribute_name(:total) %></h2>
      <p class="display-4"><%= number_to_currency @year.total, precision: 0 %></p>
    </div>
  </div>
</div>
