<div class="row mb-5">
  <div class="offset-lg-6 col-lg-6">
    <div class="structure__item__string mb-5">
      <%= render 'structure/items/label', label: t('ui.actor.contact') %>
      <% if actor.contact_name.present? %>
        <p><%= actor.contact_name %></p>
      <% end %>
      <% if actor.contact_email.present? %>
        <p><%= link_to actor.contact_email, "mailto:#{actor.contact_email}", target: "_blank" %></p>
      <% end %>
      <% if actor.contact_phone.present? %>
        <p><%= link_to actor.contact_phone, "tel:#{actor.contact_phone}", target: "_blank" %></p>
      <% end %>
      <% if actor.contact_website.present? %>
        <p><%= link_to actor.contact_website, actor.contact_website, target: "_blank" %></p>
      <% end %>
      <% if actor.contact_inventory_url.present? %>
        <p><%= link_to actor.contact_inventory_url, actor.contact_inventory_url, target: "_blank" %></p>
      <% end %>
    </div>
  </div>
</div>
