<%= content_for :title, t('ecosystem') %>
<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= t('ecosystem') %></h1>
          <p class="mt-3 mt-md-5">Des écosystèmes territoriaux favorisant l’économie circulaire, avec des acteur·rices du réemploi, de la mutualisation, du transport, de la conception, etc. Quel que soit le territoire, il existe des collaborations possibles à tous les niveaux de la chaîne de la scénographie pour contribuer ensemble à réduire les impacts environnementaux.</p>
        </hgroup>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= Actor.published.count %></dt>
          <dd>Acteur·ices</dd>
        </dl>
        <%= link_to 'Voir le glossaire', options_actors_path, class: 'small arrow-right' %>
      </div>
    </div>
  </div>  
</header>

<div class="document-content bg-white py-5" id="results">
  <div class="container directory actors-list">
    <div class="directory-filters row">
      <%= render 'application/toc-cta' %>
      <div class="col d-flex gap-2 justify-content-md-end navigation-links">
        <%= link_to 'Vue catalogue', actors_path(request.query_parameters.to_hash.merge({anchor: 'results'})), class: 'navigation-links__list' %>
        <%= link_to 'Vue carte', map_actors_path(request.query_parameters.to_hash.merge({anchor: 'results'})), class: 'navigation-links__map' %>
      </div>
    </div>
    <div class="row align-items-start position-relative mt-lg-4">
      <div class="toc col-lg-3 mt-3 mt-lg-0 pt-3 pt-lg-0" tabindex="-1" id="offcanvasScrolling">
        <%= render 'faceted_search/facets', facets: @facets, anchor: "#results"  %>
      </div>
      <div class="directory-container col-lg-9 actors-list mt-4 mt-lg-0">
        <%= render "actors/#{@mode}", objects: @actors %>
        <%= paginate @actors, theme: "bootstrap-5" if @mode == "list" %>
      </div>
    </div>
  </div>

  <div class="call-to-action bg-actors mt-5">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-lg-6">
          <h3 class="cta-title"><%= t('actors.call_to_action.title') %></h3>
          <p class="mt-4 d-none d-md-block"><%= t('actors.call_to_action.text') %></p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-md-0">
          <% if current_user %>
            <a href="#" class="btn btn-dark"><%= t('actors.call_to_action.button') %></a>
          <% else %>
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#redirectionModal"><%= t('actors.call_to_action.button') %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if !current_user %>
  <%= render 'application/redirection-modale' %>
<% end %>