<%= content_for :title, t('ecosystem') %>
<header class="hero">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= t('ecosystem') %></h1>
          <p class="mt-3 mt-md-5">Des écosystèmes territoriaux favorisant l’économie circulaire, avec des acteur·rices du réemploi, de la mutualisation, du transport, de la conception, etc. Quel que soit le territoire, il existe des collaborations possibles à tous les niveaux de la chaîne de la scénographie pour contribuer ensemble à réduire les impacts environnementaux.</p>
        </hgroup>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= Actor.published.count %></dt>
          <dd>Acteur·ices</dd>
        </dl>
        <%= link_to 'Voir le glossaire', options_actors_path, class: 'small arrow-right' %>
        </p>
      </div>
    </div>
  </div>  
</header>

<div class="document-content bg-white py-5">
  <div class="container directory">
    <div class="row">
      <div class="col d-flex gap-2">
        <button class="toc-btn d-flex align-items-center gap-1"><span>Fermer les filtres</span></button>
        <button class="d-flex align-items-center gap-1">Trier par</button>
      </div>
    </div>
    <div class="row align-items-start position-relative mt-4">
      <div class="toc col-lg-3" tabindex="-1" id="offcanvasScrolling">
        <%= render 'faceted_search/facets', facets: @facets %>
      </div>
      <div class="directory-container col-lg-9">
        <%= render 'actors/list', objects: @actors %>
        <%= paginate @actors, theme: "bootstrap-5" %>
      </div>
    </div>
  </div>

  <div class="call-to-action bg-actors mt-5">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-lg-6">
          <h3 class="cta-title">Vous avez une bonne adresse à partager ?</h3>
          <p class="mt-4 d-none d-md-block">L’écothèque référence des acteur·rices de l’économie circulaire: métiers de la conception, du réemploi, de la fabrication,  de la mutualisation, du transport… L’objectif :  identifier et faire émerger des écosystèmes territoriaux, pour favoriser les collaborations à tous les niveaux de la chaîne de la scénographie et réduire les impacts environnementaux.</p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-md-0">
          <a href="#" class="btn btn-dark">Référencer un·e acteur·rice</a>
        </div>
      </div>
    </div>
  </div>

</div>