<% content_for :title, @actor %>
<% content_for :meta_description, @actor.description if @actor.description.present? %>
<% content_for :og_image, polymorphic_url(@actor.image, only_path: false) if @actor.image.attached? %>
<% content_for :canonical_url, actor_url(@actor, region_slug: nil) %>

<%= render 'hero', object: @actor %>

<div class="bg-white">

  <% if @actor.logo.attached? %>
    <div class="container pb-5">
      <div class="row">
        <div class="offset-lg-6 col-lg-6">
          <%= kamifusen_tag @actor.logo, width: 200, alt: '' %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render 'structure/items/zones/page', about: @actor %>

  <% if @actor.service_access_terms.present? || @actor.full_address.present? || @actor.has_any_contact_informations? %>
    <% block_already_displayed = false %>
    <section class="actor-informations pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2><%= t('ui.actor.informations') %></h2>
          </div>
          <% if @actor.service_access_terms.present? %>
            <div class="actor-service-access col-lg-6 structure__item__string">
              <%= render 'structure/items/label', label: t('ui.actor.service_access') %>
              <%= sanitize @actor.service_access_terms %>
            </div>
            <% block_already_displayed = true %>
          <% end %>
          <% if @actor.full_address.present? %>
            <div class="actor-adress col-lg-6 <%= 'offset-lg-6' if block_already_displayed %> structure__item__string">
              <%= render 'structure/items/label', label: t('ui.actor.address') %>
              <p><%= @actor.full_address %></p>
            </div>
            <% block_already_displayed = true %>
          <% end %>
          <%= render 'actors/contact', html_class: block_already_displayed ? "offset-lg-6" : '', actor: @actor if @actor.has_any_contact_informations? %>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'structure/items/zones/lower_page', about: @actor %>

  <% if @projects.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.actor.projects', count: @projects.count) %></h2>
        <%= render 'list', objects: @projects.ordered %>
      </div>
    </section>
  <% end %>

  <% if @materials.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.actor.materials', count: @materials.count) %></h2>
        <%= render 'list', objects: @materials.ordered %>
      </div>
    </section>
  <% end %>

  <% if @technics.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.actor.technics', count: @technics.count) %></h2>
        <%= render 'list', objects: @technics.ordered %>
      </div>
    </section>
  <% end %>

  <% if @shows.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2><%= Actor.human_attribute_name(:shows) %></h2>
          </div>
          <div class="col-lg-6">
            <%= render 'actors/shows', shows: @shows %>
            <%= paginate @shows, theme: "bootstrap-5" %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'comments/list', about: @actor %>

</div>
