<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= kamifusen_tag @actor.image,
                        class: 'img-fluid rounded square mb-5', 
                        alt: @actor if @actor.image.attached? %>
    </div>
    <div class="col-lg-6">
      <h1 class="mb-5 mt-n2"><%= @actor %></h1>
      <p class="fw-bold"><%= sanitize @actor.description %></p>
      <%= link_to @actor.region, @actor.region, class: tag_classes if @actor.region %>
    </div>
  </div>
</div>
<%= render 'structure/items/zones/page', about: @actor %>
<% if @actor.materials %>
  <section class="bg-white py-5">
    <div class="container">
      <h2><%= Actor.human_attribute_name('materials') %></h2>
      <%= render 'materials/list', objects: @actor.materials %>
    </div>
  </section>
<% end %>