<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= kamifusen_tag @actor.image,
                        class: 'img-fluid rounded square mb-5', 
                        alt: @actor if @actor.image.attached? %>
    </div>
    <div class="col-lg-6">
      <%= render 'structure/title_with_structure', about: @actor %>
      <p class="fw-bold"><%= sanitize @actor.description %></p>
      <%= render 'application/meta', about: @actor %>
      <hr class="my-5">
      <%= render 'structure/items/zones/header', about: @actor %>
      <%= render 'application/regions', about: @actor %>
    </div>
  </div>
</div>

<%= render 'structure/items/zones/page', about: @actor %>

<% if @actor.materials.any? %>
  <section class="bg-white py-5">
    <div class="container">
      <h2><%= t('ui.actor.materials', count: @actor.materials.count) %></h2>
      <%= render 'materials/list', objects: @actor.materials %>
    </div>
  </section>
<% end %>