<%= simple_form_for [:admin, technic] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-3">
      <%= render 'admin/application/form/publication', f: f %>
      <h5><%= Technic.human_attribute_name(:image) %></h5>
      <%= f.input :image,
                  as: :single_deletable_file,
                  input_html: { accept: default_images_formats_accepted },
                  label: false,
                  resize: 1,
                  hint: images_formats_accepted_hint,
                  preview: true %>
      <%= f.input :image_alt %>
      <%= f.input :image_credit %>
    </div>
    <div class="col-lg-9">
      <h5>Informations</h5>
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: technic.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#technic_name' }
                  } %>
      <%= f.input :description %>
      <%= f.association :actors,
                        input_html: {
                          class: 'select2'
                        } %>
      <%= f.association :regions,
                        input_html: {
                          class: 'select2'
                        } %>
    </div>
  </div>
  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <% content_for :buttons do %>
    <%= destroy_link technic if technic.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
