<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Assembly.human_attribute_name('name') %></th>
        <th><%= Assembly.human_attribute_name('image') %></th>
        <th><%= Assembly.human_attribute_name('published') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% assemblies.each do |assembly| %>
        <tr>
          <td><%= link_to_if can?(:read, assembly), assembly, [:admin, assembly] %></td>
          <td><%= kamifusen_tag assembly.image, width: 100 if assembly.image.attached? %></td>
          <td><%= t assembly.published %></td>
          <td class="text-end">
            <%= edit_link assembly %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
