<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Technic.human_attribute_name('name') %></th>
        <th><%= Technic.human_attribute_name('image') %></th>
        <th><%= Technic.human_attribute_name('published') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% assemblies.each do |technic| %>
        <tr>
          <td><%= link_to_if can?(:read, technic), technic, [:admin, technic] %></td>
          <td><%= kamifusen_tag technic.image, width: 100 if technic.image.attached? %></td>
          <td><%= t technic.published %></td>
          <td class="text-end">
            <%= edit_link technic %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
