<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Technic.human_attribute_name('name') %></th>
        <th><%= Technic.human_attribute_name('image') %></th>
        <% if can?(:publish, Technic) %>
          <th><%= Technic.human_attribute_name('published') %></th>
          <th><%= Technic.human_attribute_name('status') %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% technics.each do |technic| %>
        <tr>
          <td><%= link_to_if can?(:read, technic), technic, [:admin, technic] %></td>
          <td><%= kamifusen_tag technic.image, width: 100 if technic.image.attached? %></td>
          <% if can?(:publish, Technic) %>
            <td><%= t(technic.published?) %></td>
            <td><%= t("admin.publication_statuses.#{technic.status}") %></td>
          <% end %>
          <td class="text-end">
            <%= edit_link technic %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
