<%= content_for :title, @technic %>

<div class="row">
  <div class="col-lg-4">
    <%= show @technic, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <% if can?(:publish, @technic) %>
      <%= show @technic, :published %>
      <%= show @technic, :authors, type: :list %>
      <%= show @technic, :regions, type: :list %>
      <%= show @technic, :sources %>
      <%= show @technic, :status, type: :enum, value: t("admin.publication_statuses.#{@technic.status}") %>
    <% end %>
    <%= show @technic, :description %>
    <%= render 'admin/structure/items/kinds/show', about: @technic %>
  </div>
</div>

<%= render 'admin/logs/widget' %>

<% content_for :buttons do %>
  <%= destroy_link @technic %>
  <%= edit_link @technic %>
<% end %>
