<%= content_for :title, t('account.favorites.title') %>
<div class="container py-5">
  <h1 class="mb-5 pb-5"><%= t('account.favorites.title') %></h1>

  <% if @favorites.none? %>
    <p><%= t('account.favorites.none') %></p>
  <% else %>
    <% @about_types.each do |about_type| %>
      <%
      if about_type == 'Actor'
        title = t('ecosystem')
        partial = 'actors/list'
      else
        title = about_type.constantize.model_name.human(count: 2)
        partial = 'list'
      end
      objects = @favorites.for_about_type(about_type).collect(&:about)
      %>
      <div class="mt-5">
        <h2 class="mb-4"><%= title %></h2>
        <%= render partial, objects: objects %>
      </div>
    <% end %>
  <% end %>
</div>