<% is_index ||= false %>

<% if !comment.reply_to.present? && !is_index %>
  <div class="col-md-3 col-xl-2 text-lg-center">
    <% if comment.user.image.attached? %>
      <%= kamifusen_tag comment.user.image,
                        width: 192,
                        class: 'avatar img-fluid rounded-circle square mb-2',
                        alt: '' %>
    <% end %>
    <span class="fw-bold h3"><%= comment.user %></span>
  </div>
<% end %>
<div class="<% if is_index %>col-md-9<% else %>col-md-7<% end %>">
  <h3 class="fw-bold <% if is_index %>h6<% end %>">
    <% if comment.reply_to.present? && !is_index%><span class="fw-bold h3"><%= t('comments.from') %> <%= comment.user %></span> : <% end %>
    “<%= comment.title %>”
  </h3>
  <p class="small">
    <%= t('comments.date', date: l(comment.created_at.to_date)) %>
    <% if can?(:destroy, comment) %>
      | 
      <%= link_to t('edit'), 
                  edit_user_comment_path(comment) %>
      <%= link_to t('delete'), 
                  user_comment_path(comment), 
                  method: :delete,
                  data: { confirm: t('please_confirm') } %>
    <% end %>
  </p>
  <p class="fw-bold mt-3"><%= comment.text %></p>
</div>
