<div class="container">
  <h2>Commentaires</h2>

  <%= render 'comments/form', comment: @new_comment if @new_comment.present? %>

  <% about.comments.ordered.each do |comment| %>
    <div>
      <h3><%= comment.title %></h3>
      <p class="small">
        Rédigé le <%= l comment.created_at.to_date %>
        <% if comment.user == current_user %>
          <%= link_to 'Modifier', 
                      edit_user_comment_path(comment) %>
          <%= link_to 'Supprimer', 
                      user_comment_path(comment), 
                      method: :delete,
                      data: { confirm: t('please_confirm') } %>
        <% end %>
      </p>
      <p><%= comment.text %></p>
      <%= comment.user %>
    </div>
  <% end %>
</div>

