<% if about.comments.root.published.any? || can?(:create, User::Comment) %>

  <div class="container py-5">
    <h2><%= t('comments.title') %></h2>
    <div class="row">
      <div class="col-md-9 col-lg-6">
        <%= render 'comments/form', comment: @new_comment if @new_comment.present? %>
      </div>
    </div>
    <% about.comments.root.published.ordered.each do |comment| %>
      <div class="row mt-4 mt-md-5">
        <%= render 'comments/comment', comment: comment %>
      </div>
      <% if comment.replies.published.any? || current_user %>
        <div class="row">
          <div class="offset-lg-3 offset-xl-2">
            <div class="accordion pb-2 pb-md-3" id="container-comment-<%= comment.id %>">
              <div class="accordion-item mt-3 mt-md-4">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed py-0 lh-1" type="button" data-bs-toggle="collapse" data-bs-target="#comment-<%= comment.id %>" aria-expanded="false" aria-controls="collapseAnwserForm">
                    <% if comment.replies.any? %><%= comment.replies.count %> <%= t('comments.answers', count: comment.replies.count) %><% elsif current_user %><%= t('comments.answer') %><% end %>
                  </button>
                </h2>
                <div id="comment-<%= comment.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= comment.id %>" data-bs-parent="#container-comment-<%= comment.id %>">
                  <div class="accordion-body">
                    <% if comment.replies.published.any? %>
                      <div class="replies offset-lg-1">
                        <% comment.replies.published.each do |reply| %>
                          <div class="row mt-3 mt-md-5 flex-column border-start pb-3">
                            <%= render 'comments/comment', comment: reply %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                    <div class="commentary-form col-lg-6 offset-lg-1">
                      <% if comment.replies.published.any? %>
                        <h3><%= t('comments.answer') %></h3>
                      <% end %>
                      <%= render 'comments/form', comment: comment.new_reply if can?(:create, User::Comment) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <hr class="opacity-25">
    <% end %>
  </div>

  <% end %>

