<% content_for :title, t('search.title') %>
<% content_for :noindex, true %>

<header class="hero pb-5">
  <div class="container search-container">
    <%= form_tag search_path, method: :get, class: "row align-items-end", role: "search" do %>
      <div class="col-10 col-md-5">
        <input name="term" class="form-control search-input" type="search" placeholder="<%= t('search.label') %>" aria-label="<%= t('search.label') %>" value="<%= @term %>">
      </div>
      <div class="col-2 col-md-7">
        <button class="btn-search rounded-pill" type="submit">
          <span><%= t('search.label') %></span>
        </button>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-2">
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <% if @actors.any? %><a href="#actors"><% end %>
            <dt class="key-figure"><%= @actors.total_count %></dt>
            <dd><%= Actor.model_name.human(count: @actors.total_count) %></dd>
          <% if @actors.any? %></a><% end %>
        </dl>
      </div>
      <div class="col-lg-2">
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <% if @tours.any? %><a href="#tours"><% end %>
            <dt class="key-figure"><%= @tours.total_count %></dt>
            <dd><%= Tour.model_name.human(count: @tours.total_count) %></dd>
          <% if @tours.any? %></a><% end %>
        </dl>
      </div>
    </div>
  </div>
</header>

<div class="document-content">
  <% if @actors.any? %>
    <section class="bg-white pt-5" id="actors">
      <div class="container">
        <h2 class="mb-4"><%= t('search.results.actors.other') %></h2>
        <%= render 'actors/list', objects: @actors %>
        <%= paginate @actors, theme: 'bootstrap-5', param_name: :actors_page, params: { anchor: "actors" } %>
      </div>
    </section>
  <% end %>

  <% if @tours.any? %>
    <section class="bg-white pt-5" id="tours">
      <div class="container">
        <h2 class="mb-4"><%= t('search.results.tours.other') %></h2>
        <%= render 'application/list', objects: @tours %>
        <%= paginate @tours, theme: 'bootstrap-5', param_name: :tours_page, params: { anchor: "tours" } %>
      </div>
    </section>
  <% end %>

  <% if @no_results %>
    <div class="search-quick-links py-5 bg-white">
      <div class="container">
        <div class="row">
          <p class="col-lg-5 fw-bold h3"><%= t('search.no_result') %></p>
        </div>
        <div class="row mt-4">
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to t('ecosystem'), actors_path(region_slug: nil), class: "text-decoration-none stretched-link h2 w-100 square rounded bg-actors d-flex align-items-center justify-content-center" %>
          </div>
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to Tour.model_name.human(count: 2), tours_path(region_slug: nil), class: "text-decoration-none stretched-link h2 w-100 square rounded bg-tours d-flex align-items-center justify-content-center" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
