<%= content_for :title, t('admin.dashboard') %>

<% if @comments_pending > 0 %>
  <div class="card bg-primary">
    <div class="card-body text-center px-4 py-4-5">
      <p class="h2 text-white mb-0">
        <%= link_to todo_admin_comments_path, class: 'text-white stretched-link' do %>
          <i class="<%= Icon::COMMENT %>"></i><br>
          <%= @comments_pending %>
          <%= User::Comment.model_name.human(count: @comments_pending).downcase %>
          <%= t('admin.comments.todo').downcase %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

<div class="row">
  <% @metrics.each do |metric| %>
    <% if metric.accessible_by(current_ability).any? %>
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4 text-center">
                <i class="<%= Icon.const_get metric.to_s.upcase %> display-6 text-primary"></i>
              </div>
              <div class="col-8">
                <h2 class="h6 text-muted">
                  <%= link_to metric.model_name.human(count:2), [:admin, metric], class: 'stretched-link' %>
                </h2>
                <p class="font-extrabold mb-0 lead">
                  <%= metric.accessible_by(current_ability).count %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>