<%
  name_elements = @option.name.strip.split(' ')
  first_letter = name_elements.first[0]
  second_letter = name_elements.many? ? name_elements.second[0] : name_elements.first[1]

  partial = @resources_slug == 'actors' ? 'actors/list' : 'application/list'
%>
<div class="hero mt-4" data-first-letter="<%= first_letter %>" data-second-letter="<%= second_letter %>">
  <div class="container">
  <h1><%= @option %></h1>
  </div>
</div>
<div class="document-content bg-white py-5">
  <div class="container">
    <%= render partial, objects: @objects %>
  </div>

  <div class="call-to-action bg-<%= @resources_slug %> mt-2">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-lg-6">
          <h3 class="cta-title"><%= t(@resources_slug + '.call_to_action.title') %></h3>
          <p class="mt-4 d-none d-md-block"><%= t(@resources_slug + '.call_to_action.text') %></p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-lg-0">
          <a href="#TODO" class="btn btn-dark"><%= t(@resources_slug + '.call_to_action.button') %></a>
        </div>
      </div>
    </div>
  </div>
</div>