<%
  name_elements = @option.name.strip.split(' ')
  first_letter = name_elements.first[0]
  second_letter = name_elements.many? ? name_elements.second[0] : name_elements.first[1]

  partial = @resources_slug == 'actors' ? 'actors/list' : 'application/list'
%>
<% content_for :canonical_url, polymorphic_option_url(@option, region_slug: nil) %>
<div class="hero mt-4" data-first-letter="<%= first_letter %>" data-second-letter="<%= second_letter %>">
  <div class="container">
  <h1><%= @option %></h1>
  </div>
</div>
<div class="document-content bg-white py-5">
  <div class="container">
    <%= render partial, objects: @objects %>
  </div>

  <%= render 'reference-cta', objects: @objects %>

</div>