<header class="hero">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= Technic.model_name.human(count: 2) %></h1>
          <p class="mt-3 mt-md-5">Des matériaux dont la qualité a été vérifiée par la pratique et par la recherche, avec des données détaillées en matière de critères environnementaux et de critères d’usage en scénographie, afin de proposer plus qu’un annuaire d’alternatives aux matériaux pétrosourcés.</p>
        </hgroup>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= Technic.published.count %></dt>
          <dd>Techniques</dd>
        </dl>
        <%= link_to 'Voir le glossaire', options_technics_path, class: 'small arrow-right' %>
        </p>
      </div>
    </div>
  </div>  
</header>

<div class="document-content bg-white py-5">
  <div class="container">
    <%= render 'technics/list', objects: @technics %>
    <%= paginate @technics, theme: "bootstrap-5" %>
  </div>

  <div class="call-to-action bg-technics mt-5">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-lg-6">
          <h3 class="cta-title">Vous souhaitez recommander une technique ?</h3>
          <p class="mt-4 d-none d-md-block">L’écothèque référence des produits, des techniques de fabrication et d’assemblage favorisant le réemploi et la réutilisation. L’objectif : favoriser la réduction des besoins, le réemploi et la réutilisation et diffuser les pratiques low-tech.</p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-md-0">
          <a href="#" class="btn btn-dark">Référencer une technique</a>
        </div>
      </div>
    </div>
  </div>
</div>