<%= render 'hero', object: @technic %>

<div class="document-content">
  <% if user_is_subscribed? %>

    <%= render 'structure/items/zones/page', about: @technic %>

    <% if @actors.any? %>
      <section class="bg-white pt-5">
        <div class="container">
          <h2 class="mb-4"><%= t('ui.technic.actors', count: @actors.count) %></h2>
          <%= render 'actors/list', objects: @actors %>
        </div>
      </section>
    <% end %>

    <% if @projects.any? %>
      <section class="bg-white pt-5">
        <div class="container">
          <h2 class="mb-4"><%= t('ui.technic.projects', count: @projects.count) %></h2>
          <%= render 'list', objects: @projects %>
        </div>
      </section>
    <% end %>

    <%= render 'comments/list', about: @technic %>

  <% else %>

    <%= render 'paywall' %>

  <% end %>
</div>