<%= content_for :title, t('ui.users.title') %>

<header class="hero pb-5 bg-white mt-4 pt-0">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-5">
        <h1><%= t('ui.users.title') %></h1>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= @users.total_count %></dt>
          <dd><%= t('ui.users.users', count: @users.total_count) %></dd>
        </dl>
      </div>
    </div>
  </div>  
</header>

<div class="document-content">
  <section class="users-list bg-white">
    <div class="container pt-5">
      <%= render 'users/list', objects: @users %>
      <%= paginate @users, theme: "bootstrap-5" %>
    </div>
  </section>
</div>