<%= content_for :title, @user %>

<header class="hero pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'illustration', source: @user %>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <h1><%= @user %></h1>
        <% if @user.description.present? %>
          <p class="small text-muted m-0 mt-4 pb-1"><%= t('ui.users.description') %></p>
          <p class="fw-bold"><%= sanitize add_definitions(@user.description) %></p>
        <% end %>
        <p class="small m-0"><%= t('ui.users.meta', date: l(@user.created_at.to_date)) %></p>
        <hr class="my-4">
        <p class="small mb-2"><%= t('ui.users.contact') %></p>
        <ul class="contact-list list-unstyled">
          <li><%= link_to @user.email, "mailto:#{@user.email}", target: '_blank' %></li>
          <% if @user.website.present? %>
            <li class="mt-1"><%= link_to t('ui.users.website'), @user.website, target: '_blank', class: 'link-website' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="document-content">

  <% if @actors.any? %>
    <section class="bg-white pt-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.users.ecosystem', count: @actors.count) %></h2>
        <%= render 'actors/list', objects: @actors.ordered %>
        <%= paginate @actors, theme: "bootstrap-5", param_name: :actors_page %>
      </div>
    </section>
  <% end %>

  <% if @projects.any? %>
    <section class="bg-white pt-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.users.projects', count: @projects.count) %></h2>
        <%= render 'application/list', objects: @projects.ordered %>
        <%= paginate @projects, theme: "bootstrap-5", param_name: :projects_page %>
      </div>
    </section>
  <% end %>

  <% if @materials.any? %>
    <section class="bg-white pt-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.users.materials', count: @materials.count) %></h2>
        <%= render 'application/list', objects: @materials.ordered %>
        <%= paginate @materials, theme: "bootstrap-5", param_name: :materials_page %>
      </div>
    </section>
  <% end %>

  <% if @technics.any? %>
    <section class="bg-white pt-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.users.technics', count: @technics.count) %></h2>
        <%= render 'application/list', objects: @technics.ordered %>
        <%= paginate @technics, theme: "bootstrap-5", param_name: :technics_page %>
      </div>
    </section>
  <% end %>

</div>