<%= simple_form_for [:admin, actor] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: actor.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#actor_name' }
                  } %>
      <%= f.input :description %>
      <%= f.association :regions,
                        input_html: {
                          class: 'select2'
                        } %>
    </div>
    <div class="col-lg-4">
      <%= render 'admin/application/form/publication', f: f %>
      <% if can?(:premium, actor) %>
        <%= f.input :premium %>
      <% end %>
      <%= f.input :image,
                  as: :single_deletable_file,
                  preview: true %>
    </div>
  </div>

  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <h2><%= t('actors.information') %></h2>

  <%= f.input :service_access_terms, as: :summernote %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :address %>
    </div>
    <div class="col-lg-6">
      <%= f.input :address_additional %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :zipcode %>
    </div>
    <div class="col-lg-4">
      <%= f.input :city %>
    </div>
    <div class="col-lg-4">
      <%= f.input :country, priority: ['FR'] %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :contact_name %>
    </div>
    <div class="col-lg-4">
      <%= f.input :contact_email %>
    </div>
    <div class="col-lg-4">
      <%= f.input :contact_phone %>
    </div>
    <div class="col-lg-4">
      <%= f.input :contact_website %>
    </div>
    <div class="col-lg-4">
      <%= f.input :contact_inventory_url %>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= destroy_link actor if actor.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
