<%= simple_form_for [:admin, actor] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: actor.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#actor_name' }
                  } %>
      <%= f.input :description %>
      <%= f.association :regions, as: :check_boxes %>
    </div>
    <div class="col-lg-4">
      <%= render 'admin/application/form/publication', f: f %>
      <% if can?(:premium, actor) %>
        <%= f.input :premium %>
      <% end %>
      <%= f.input :image,
                  as: :single_deletable_file,
                  preview: true %>
    </div>
  </div>
  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <% content_for :buttons do %>
    <%= destroy_link actor if actor.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
