<%= simple_form_for [:admin, actor] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-3">
      <%= render 'admin/application/form/publication', f: f %>
      <h5><%= Actor.human_attribute_name(:image) %></h5>
      <%= f.input :image,
                  as: :single_deletable_file,
                  input_html: { accept: default_images_formats_accepted },
                  label: false,
                  resize: 1,
                  hint: images_formats_accepted_hint,
                  preview: true %>
      <%= f.input :image_alt %>
      <%= f.input :image_credit %>
      <% if can?(:premium, actor) %>
        <%= f.input :premium %>
      <% end %>
    </div>
    <div class="col-lg-9">
      <h5><%= t('admin.infos') %></h5>
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: actor.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#actor_name' }
                  } %>
      <%= f.input :description %>
      <%= f.association :regions,
                        input_html: {
                          class: 'select2'
                        } %>
    </div>
  </div>

  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <h2 class="h4 mt-5"><%= t('actors.information') %></h2>

  <div class="row mb-4">
    <div class="offset-lg-2 col-lg-10">

      <%= f.input :service_access_terms, as: :summernote %>

      <div class="row">
        <div class="col-lg-6">
          <%= f.input :address %>
        </div>
        <div class="col-lg-6">
          <%= f.input :address_additional %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <%= f.input :zipcode %>
        </div>
        <div class="col-lg-4">
          <%= f.input :city %>
        </div>
        <div class="col-lg-4">
          <%= f.input :country, priority: ['FR'] %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <%= f.input :contact_name %>
        </div>
        <div class="col-lg-4">
          <%= f.input :contact_email %>
        </div>
        <div class="col-lg-4">
          <%= f.input :contact_phone %>
        </div>
        <div class="col-lg-4">
          <%= f.input :contact_website %>
        </div>
        <div class="col-lg-4">
          <%= f.input :contact_inventory_url %>
        </div>
      </div>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= destroy_link actor if actor.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
