<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Actor.human_attribute_name('name') %></th>
        <th><%= Actor.human_attribute_name('image') %></th>
        <% if can?(:publish, Actor) %>
          <th><%= Actor.human_attribute_name('published') %></th>
          <th><%= Actor.human_attribute_name('status') %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% actors.each do |actor| %>
        <tr>
          <td><%= link_to_if can?(:read, actor), actor, [:admin, actor] %></td>
          <td><%= kamifusen_tag actor.image, width: 100 if actor.image.attached? %></td>
          <% if can?(:publish, Actor) %>
            <td><%= t(actor.published?) %></td>
            <td>
              <%= t("admin.publication_statuses.#{actor.status}") %>
              <%= render 'dates', object: actor %>
            </td>
          <% end %>
          <td class="text-end">
            <%= edit_link actor %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
