<%= content_for :title, @actor %>

<div class="row">
  <div class="col-lg-4">
    <%= show @actor, :image, type: :image %>
    <%= show @actor, :logo, type: :image %>
  </div>
  <div class="col-lg-8">
    <% if can?(:publish, @actor) %>
      <%= show @actor, :published %>
      <%= show @actor, :authors, type: :list %>
      <%= show @actor, :status, type: :enum, value: t("admin.publication_statuses.#{@actor.status}") %>
    <% end %>
    <% if can?(:premium, @actor) %>
      <%= show @actor, :premium %>
    <% end %>
    <% if can?(:lab_member, @actor) %>
      <%= show @actor, :lab_member %>
    <% end %>
    <%= show @actor, :description %>
    <%= show @actor, :regions, type: :list %>
    <%= render 'admin/structure/items/kinds/show', about: @actor %>
  </div>
</div>

<%= render 'admin/logs/widget' %>

<% content_for :buttons do %>
  <%= destroy_link @actor %>
  <%= edit_link @actor %>
<% end %>
