<section>
  <div class="container py-4 pt-0 pt-md-4">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center mt-5">La plateforme collaborative de l'écoscénographie</h1>
        <p class="mt-3 text-center home-placeholder mb-0">
          <%# TODO le search %>
          <%# TODO CTA %>
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-2 offset-lg-10">
        <p class="small mb-1">Un projet porté par</p>
        <%= image_tag('logos/logo-augureslab.svg', alt: 'Augures Lab', width: '191', height: '45') %>
      </div>
    </div>
  </div>
</section>

<section class="home-quote py-4 py-md-6">
  <div class="container">
    <div class="row">
      <div class="col-md-10 small offset-md-1">
        <blockquote>
          <p class="fw-bold">“Penser la scénographie dans un monde fini, c’est reconnaître l’urgence écologique et acter la nécessité de changer nos pratiques professionnelles.”</p>
          <footer class="p-0 mt-3">Extrait de la <cite>Charte des Membres</cite> de l’Augures Lab Scénogrrrraphie</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="home-navigation actors">
  <div class="container d-flex flex-column flex-lg-column-reverse py-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-lg-0">
        <h2><%= t('ecosystem') %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Identifier et localiser des acteur·rices de l’économie circulaire', actors_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p class="fw-bold"><%= t('actors.description') %></p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @actors_count %></dt>
          <dd><%= Actor.model_name.human(count: Actor.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section class="home-navigation projects">
  <div class="container d-flex flex-column flex-lg-column-reverse py-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-lg-0">
        <h2><%= Project.model_name.human(count: 2) %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Découvrir des projets d’écoscénographie au travers de leur démarche de réduction d’impacts environnementaux', projects_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p class="fw-bold">Des projets d’écoproduction représentatifs de la diversité des pratiques et rendant compte des modèles économiques mis en place pour sortir de l’économie linéaire ; la présentation de ces projets passe par une approche de cycle de vie simplifiée à partir de la roue de Brézet pour sensibiliser aux outils disponibles afin d’évaluer ses impacts environnementaux.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @projects_count %></dt>
          <dd><%= Project.model_name.human(count: Project.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section class="home-navigation materials">
  <div class="container d-flex flex-column flex-lg-column-reverse py-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-lg-0">
        <h2><%= Material.model_name.human(count: 2) %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Découvrir des matériaux recommandés par la communauté écothèque', materials_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p class="fw-bold"><%= t('materials.description') %></p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @materials_count %></dt>
          <dd><%= Material.model_name.human(count: Material.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section class="home-navigation technics">
  <div class="container d-flex flex-column flex-lg-column-reverse py-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-xl-0">
        <h2><%= Technic.model_name.human(count: 2) %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Découvrir des produits, des techniques et des assemblages', technics_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p class="fw-bold"><%= t('technics.description') %></p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @technics_count %></dt>
          <dd><%= Technic.model_name.human(count: Technic.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<section class="home-navigation toolbox">
  <div class="container py-5 py-md-5">
    <div class="row py-4 pb-3">
      <div class="col">
        <h2 class="h1"><%= @toolbox_page %></h2>
      </div>
    </div>
    <div class="row">
      <% @toolbox_page.children.ordered_by_position.each do |page| %>
        <div class="col-md-6 mt-4">
          <%= link_to page, page, class: "text-decoration-none fw-bold arrow-right" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render 'offers/join' %>

<section class="home-about bg-light">
  <%= render 'pages/blocks/list', blocks: @home_page.blocks.ordered %>
</section>