<div class="offcanvas offcanvas-end" tabindex="-1" id="filters" aria-labelledby="filtersLabel">
  <div class="offcanvas-header">
    <h4 id="filtersLabel"><%= t('admin.filters.title') %></h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="<%= t('admin.filters.buttons.close') %>"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <% active_filters = 0 %>
      <%= simple_form_for :filters, url: current_path, method: :get do |f| %>
        <% filters.each do |filter| %>
          <%= render "admin/application/filters/#{filter[:type].to_s}", f: f, filter: filter %>
          <% 
            value = filter[:value_method].call(filter, params) 
            active_filters += 1 unless (value.blank? || (value.is_a?(Array) && value.reject(&:blank?).empty?))
          %>
        <% end %>
        <div class='form-group'>
          <%= submit_tag t('admin.filters.buttons.submit'), class: button_classes %>
          <%= link_to t('admin.filters.buttons.reset'), current_path, class: button_classes('btn-secondary') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-sm-end mt-n2 mt-sm-n5">
  <button class="<%= button_classes('my-1') %>" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters" aria-controls="filters">
    <%= t('admin.filters.buttons.expand') %>
    <% if active_filters > 0 %>
      <span class="badge bg-white text-primary"><%= active_filters %></span>
    <% end %>
  </button>
</div>


