<%
collapsable = true if collapsable.nil? # not ||= because collapsable can be "false"
should_be_open = false
filters.each { |filter| should_be_open = true if params.has_key?(filter[:scope_name]) }
%>

<div class="filters">
  <% if collapsable %>
    <a  class="btn btn-light btn-xs filters__button mb-2"
        data-bs-toggle="collapse"
        href="#collapseFilters"
        role="button"
        aria-expanded="false"
        aria-controls="collapseFilters">
      <%= t('admin.filters.buttons.expand') %>
      <i class="bi bi-filter"></i>
    </a>
  <% end %>
  <div class="collapse filters__content <%= (!collapsable || should_be_open) ? 'show' : '' %>" id="collapseFilters">
    <%= form_tag current_path, method: :get, class: 'do-not-unlock mb-3' do |f| %>
      <div class="row">
        <% filters.each do |filter| %>
          <div class="filters__content__filter col-lg-4">
            <% if filter[:scope_name] == :for_search_term %>
              <%= text_field_tag  filter[:scope_name],
                                  params[filter[:scope_name]],
                                  placeholder: filter[:label],
                                  class: 'form-control mb-2 filter' %>
            <% else %>
              <% if filter[:tree] %>
                <% choices = collection_tree(filter[:choices]).map { |elmt| [elmt[:label].html_safe, elmt[:id]] } %>
              <% else %>
                <% choices = filter[:choices].map { |elmt| elmt.is_a?(String) ?  [elmt, elmt] : [elmt.is_a?(Hash) ? elmt[:to_s] : elmt.to_s, elmt[:id]] } %>
              <% end %>
              <% field_name = filter[:multiple] ? "#{filter[:scope_name]}[]" : filter[:scope_name] %>
              <%= select_tag  field_name,
                              options_for_select(choices, params[filter[:scope_name]]),
                              include_blank: filter[:label],
                              class: 'form-select mb-2 filter' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= submit_tag t('admin.filters.buttons.submit'), class: 'btn btn-primary btn-sm btn-submit' %>
      <%= link_to t('admin.filters.buttons.reset'), current_path, class: button_classes_minor %>
    <% end %>
  </div>
</div>
