<% about = f.object %>
<div class="js-structure-values-form">
  <% Structure::Item.zones.keys.each do |zone| %>
    <% about.items.send("zone_#{zone}").each do |item| %>
      <% next unless item.should_display_in_admin_for?(about) %>
      <% if item.kind_h2? %>
        <h2 class="h4 mt-5"><%= item %></h2>
      <% else %>
        <%
        value = about.structure_values.detect { |value| value.item_id == item.id }
        value ||= about.structure_values.new(item_id: item.id)
        %>
        <div class="row mb-4">
          <div class="offset-lg-2 col-lg-10">
            <label class="form-label" for="<%= dom_id(item) %>"><%= item %></label>
            <%= f.simple_fields_for :structure_values, value do |value_f| %>
              <%= value_f.hidden_field :item_id %>
              <%= render "admin/structure/items/kinds/#{item.kind}/edit", f: value_f, item: item, value: value %>
            <% end %>
            <div class="form-text"><%= item.hint %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
