<h2 class="h4 mt-5"><%= t('projects.brezet_wheel.title') %></h2>

<% Project::Criterion::STEPS.each do |step| %>
  <h3 class="h5"><%= t("projects.brezet_wheel.step#{step}") %></h3>
  <div class="row">
    <div class="offset-lg-4 col-lg-8">
      <% Project::Criterion.for_step(step).each do |criterion| %>
        <div class="mt-3">
          <%= criterion %>

          <% if criterion.if_you_check.present? %>
            <div class="alert alert-light">
              <i class="bi bi-question-circle float-end"></i>
              <b>Si vous cochez cette case, cela veut dire...</b>
              <%= simple_format criterion.if_you_check %>
            </div>
          <% end %>

          <%# TODO afficher seulement si coché %>
          <% if criterion.hint.present? %>
            <div class="alert alert-light">
              <i class="bi bi-lightbulb float-end"></i> 
              <b>Vous devez alors expliquer ce point (ce qui sera ensuite visible en ligne)</b> 
              <%= simple_format criterion.hint %>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
<% end %>

Les champs ci-dessous sont dépréciés.

<h3 class="h5"><%= t('projects.brezet_wheel.step0') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step0_sustainable_program %>
    <%= render "brezet_field", f: f, attribute: :step0_low_tech %>
    <%= render "brezet_field", f: f, attribute: :step0_ecodesign_time %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step1') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step1_reusable_materials %>
    <%= render "brezet_field", f: f, attribute: :step1_recycled_materials %>
    <%= render "brezet_field", f: f, attribute: :step1_local_materials %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step2') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step2_dismountable %>
    <%= render "brezet_field", f: f, attribute: :step2_components_reduced_amount %>
    <%= render "brezet_field", f: f, attribute: :step2_renewable_energy %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step3') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step3_matter_reduced_amount %>
  </div>
</div>
    
<h3 class="h5"><%= t('projects.brezet_wheel.step4') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step4_artists_travel_optimization %>
    <%= render "brezet_field", f: f, attribute: :step4_transport_sharing %>
    <%= render "brezet_field", f: f, attribute: :step4_separate_packaging %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step5') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step5_energy_efficient %>
    <%= render "brezet_field", f: f, attribute: :step5_water_efficient %>
    <%= render "brezet_field", f: f, attribute: :step5_low_power_consumption %>
    <%= render "brezet_field", f: f, attribute: :step5_zero_waste %>
    <%= render "brezet_field", f: f, attribute: :step5_public_awareness %>
    <%= render "brezet_field", f: f, attribute: :step5_public_area_sorting %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step6') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step6_extended_lifetime %>
  </div>
</div>

<h3 class="h5"><%= t('projects.brezet_wheel.step7') %></h3>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= render "brezet_field", f: f, attribute: :step7_disassembly_five_stream_sorting %>
    <%= render "brezet_field", f: f, attribute: :step7_composted_materials %>
    <%= render "brezet_field", f: f, attribute: :step7_closed_loop_recycling %>
  </div>
</div>