<%= simple_form_for [:admin, project] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: project.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#project_name' }
                  } %>
      <%= f.association :materials, as: :check_boxes %>
      <%= f.association :actors, as: :check_boxes %>
      <%= f.input :description %>
      <%= f.association :regions, as: :check_boxes %>
    </div>
    <div class="col-lg-4">
      <%= f.input :published %>
      <%= f.association :published_by %>
      <%= f.input :image,
                  as: :single_deletable_file,
                  preview: true %>
    </div>
  </div>
  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <% content_for :buttons do %>
    <%= destroy_link project if project.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
