<%= simple_form_for [:admin, project], html: { class: "js-project-form" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-4">
      <h5><%= Project.human_attribute_name(:image) %></h5>
      <%= f.input :image,
                  as: :single_deletable_file,
                  input_html: { accept: default_images_formats_accepted },
                  label: false,
                  hint: images_formats_accepted_hint,
                  preview: true %>
      <%= f.input :image_alt %>
      <%= f.input :image_credit %>
      <%= render 'admin/application/form/publication', f: f %>
    </div>
    <div class="col-lg-8">
      <h5>Informations</h5>
      <%= f.input :name %>
      <%= f.input :slug,
                  input_html: project.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#project_name' }
                  } %>
      <%= f.association :materials,
                        input_html: {
                          class: 'select2'
                        } %>
      <%= f.association :technics,
                        input_html: {
                          class: 'select2'
                        } %>
      <%= f.association :actors,
                        input_html: {
                          class: 'select2'
                        } %>
      <%= f.input :description %>
      <%= f.association :regions,
                        input_html: {
                          class: 'select2'
                        } %>
    </div>
  </div>

  <%= render 'admin/structure/items/kinds/edit', f: f %>

  <%= render 'brezet_fields', f: f %>

  <% content_for :buttons do %>
    <%= destroy_link project if project.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
