<%= content_for :title, @project %>

<div class="row">
  <div class="col-lg-4">
    <%= show @project, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <%= show @project, :description %>
    <%= show @project, :regions, type: :list %>
    <%= show @project, :materials, type: :list %>
    <%= show @project, :actors, type: :list %>
    <%= render 'admin/structure/items/kinds/show', about: @project %>

    <% if @project.has_brezet_wheel? %>
      <h2 class="h5 mb-4"><%= t('projects.brezet_wheel.title') %></h2>

      <% if @project.has_brezet_wheel_step0? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step0') %></h3>
        <% [:step0_sustainable_program, :step0_low_tech, :step0_ecodesign_time].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step1? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step1') %></h3>
        <% [:step1_local_materials, :step1_recycled_materials, :step1_reusable_materials].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step2? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step2') %></h3>
        <% [:step2_components_reduced_amount, :step2_dismountable, :step2_renewable_energy].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step3? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step3') %></h3>
        <% [:step3_matter_reduced_amount].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step4? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step4') %></h3>
        <% [:step4_artists_travel_optimization, :step4_separate_packaging, :step4_transport_sharing].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step5? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step5') %></h3>
        <% [:step5_energy_efficient, :step5_low_power_consumption, :step5_public_area_sorting, :step5_public_awareness, :step5_water_efficient, :step5_zero_waste].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step6? %>
        <h3 class="h6 mb-3"><%= t('projects.brezet_wheel.step6') %></h3>
        <% [:step6_extended_lifetime].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>

      <% if @project.has_brezet_wheel_step7? %>
        <h3 class="h6 mb-4"><%= t('projects.brezet_wheel.step7') %></h3>
        <% [:step7_closed_loop_recycling, :step7_composted_materials, :step7_disassembly_five_stream_sorting].each do |attribute_name| %>
          <% next unless @project.public_send("#{attribute_name}?") %>
          <label class="small text-muted"><%= Project.human_attribute_name(attribute_name) %></label>
          <%= sanitize @project.public_send("#{attribute_name}_text") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :buttons do %>
  <%= destroy_link @project %>
  <%= edit_link @project %>
<% end %>
