<%= content_for :title, @project %>

<div class="row">
  <div class="col-lg-4">
    <%= show @project, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <% if can?(:publish, @project) %>
      <%= show @project, :published %>
      <%= show @project, :authors, type: :list %>
      <%= show @project, :status, type: :enum, value: t("admin.publication_statuses.#{@project.status}") %>
    <% end %>
    <%= show @project, :description %>
    <%= show @project, :regions, type: :list %>
    <%= show @project, :materials, type: :list %>
    <%= show @project, :materials, type: :list %>
    <%= show @project, :technics, type: :list %>
    <%= show @project, :actors, type: :list %>
    <%= render 'admin/structure/items/kinds/show', about: @project %>

    <h2 class="h4">Roue de Brezet</h2>
    <% Project::Criterion::STEPS.each do |step| %>
      <h3 class="h5"><%= step %>. <%= t("projects.brezet_wheel.step#{step}") %></h3>
      <% Project::Criterion.for_step(step).each do |criterion| %>
        <%
        answer = Project::Answer.where(criterion: criterion, project: @project).first_or_initialize
        %>
        <% if answer.value %>
          <div class="mb-4">
            <label class="small text-muted"><%= criterion %></label>
            <%= simple_format answer.text %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :buttons do %>
  <%= destroy_link @project %>
  <%= edit_link @project %>
<% end %>
