<%= simple_form_for [:admin, item] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :slug,
                  input_html: item.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#structure_item_name' }
                  } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :kind, 
                  include_blank: false %>
    </div>
    <div class="col-lg-6">
      <%= f.input :hint %>
    </div>
  </div>

  <div class="js-choices">

    <h2 class="h5">Choix</h2>

    <div class="table-responsive">
      <table class="table">
        <tbody id="options" data-sortable="inputs">
          <%= f.simple_fields_for :options, item.options.sort_by(&:position) do |option_form| %>
            <%= render 'option_fields', f: option_form %>
          <% end %>
        </tbody>
      </table>
    </div>
      
    <%= link_to_add_association 'Ajouter une option', 
                                f, 
                                :options,
                                "data-association-insertion-node": '#options',
                                "data-association-insertion-method": 'append' %>

  </div>  

  <% content_for :buttons do %>
    <%= destroy_link item if item.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
