<% content_for :body_class, 'js-structure-items' %>

<%= simple_form_for [:admin, item] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :slug,
                  input_html: item.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#structure_item_name' }
                  } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :kind,
                  include_blank: false,
                  input_html: { "data-with-choices": Structure::Item::KINDS_WITH_OPTIONS.join('|') } %>
      <%= f.input :zone, include_blank: false %>
      <%= f.input :with_explanation %>
      <%= f.input :premium if item.about_class.in?(Structure::Item::ABOUT_CLASSES_WITH_PREMIUM) %>
    </div>
    <div class="col-lg-6">
      <%= f.input :hint %>
    </div>
  </div>

  <div id="js-choices" class="<%= 'd-none' unless item.has_options? %>">

    <h2 class="h5">Choix</h2>

    <div class="table-responsive">
      <table class="table table-borderless table-small">
        <thead>
          <tr>
            <th></th>
            <th><%= Structure::Option.human_attribute_name(:name) %></th>
            <th><%= Structure::Option.human_attribute_name(:slug) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="options" data-sortable="inputs">
          <%= f.simple_fields_for :options, item.options.sort_by(&:position) do |option_form| %>
            <%= render 'admin/structure/options/form', f: option_form %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to_add_association t('admin.structure.add_option'),
                                f,
                                :options,
                                partial: 'admin/structure/options/form',
                                "data-association-insertion-node": '#options',
                                "data-association-insertion-method": 'append' %>

  </div>

  <% content_for :buttons do %>
    <%= destroy_link item if item.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
