<%= simple_form_for [:admin, item] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :slug,
                  input_html: item.persisted? ? {} : {
                    class: 'js-slug-input',
                    data: { source: '#structure_item_name' }
                  } %>
    </div>
    <div class="col-lg-6">
      <%= f.input :kind, include_blank: false %>
    </div>
    <div class="col-lg-6">
      <%= f.input :hint %>
    </div>
  </div>

  <% if item.has_options? %>
    <div id="options">
      <label class="form-label">Options</label>
        <%= f.simple_fields_for :options do |option| %>
          <%= render 'option_fields', f: option %>
        <% end %>
        <%= link_to_add_association 'Ajouter une option', f, :options %>
    </div>
  <% end %>
  
  <% content_for :buttons do %>
    <%= destroy_link item if item.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
