<%= simple_form_for [:admin, item] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
    <%= f.input :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :kind, include_blank: false %>
    </div>
  </div>
  <%= f.input :hint %>

  <% if item.has_options? %>
    <label class="form-label">Options</label>
    <div id="options">
      <%= f.simple_fields_for :options do |option| %>
        <%= render 'option_fields', f: option %>
      <% end %>
    </div>
    <%= link_to_add_association 'Ajouter une option', f, :options %>
  <% end %>
  
  <% content_for :buttons do %>
    <%= destroy_link item if item.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
