<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th width="20"></th>
        <th><%= Structure::Item.human_attribute_name('name') %></th>
        <th><%= Structure::Item.human_attribute_name('kind') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-sortable data-sort-url="<%= reorder_admin_structure_items_path %>">
      <% items.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td class="ps-0"><i class="bi bi-arrow-down-up handle"></i></td>
          <td><%= link_to_if can?(:read, item), item, [:admin, item] %></td>
          <td><%= item.kind_i18n %></td>
          <td class="text-end">
            <%= edit_link item %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
