<%= content_for :title, @item %>

<div class="row">
  <% [:slug, :kind, :zone, :hint, :with_explanation].each do |property| %>
    <div class="col-lg-4"><%= show @item, property %></div>
  <% end %>
</div>

<% if @item.has_options? %>
  <%= render 'admin/structure/options/list', options: @item.options.ordered %>
<% end %>

<% content_for :buttons do %>
  <%= destroy_link @item %>
  <%= edit_link @item %>
<% end %>
