<% content_for :title, @tour %>
<% content_for :meta_description, @tour.description if @tour.description.present? %>
<% content_for :og_image, polymorphic_url(@tour.image, only_path: false) if @tour.image.attached? %>
<% content_for :canonical_url, tour_url(@tour, region_slug: nil) %>

<%= render 'hero', object: @tour %>

<div class="document-content bg-white pt-5">
  <%= render 'structure/items/zones/page', about: @tour %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'tours/shows/map', shows: @shows %>
      </div>
      <div class="col-lg-6">
        <%= render 'tours/shows/list', shows: @shows %>
      </div>
    </div>
  </div>
  <%= render 'comments/list', about: @tour %>
</div>