<% meta_description = @page.meta_description.presence || @page.description %>
<% content_for :title, @page.meta_title.presence || @page %>
<% content_for :additional_body_class, @page.body_class unless @page.body_class.blank? %>
<% content_for :additional_body_class, " parent-page" if @page.children %>
<% content_for :meta_description, meta_description if meta_description.present? %>
<% 
  if @page.meta_illustration.attached? && @page.meta_illustration.image? && @page.meta_illustration.variable?
    image = @page.meta_illustration.variant(resize_and_pad: [1000, 600, gravity: 'center'])
    content_for :og_image, polymorphic_url(image, only_path: false)
  end
%>

<header class="hero">
  <div class="container">
    <div class="row pb-5 pb-md-7">
      <div class="col-lg-5 mt-lg-5">
        <h1><%= @page %></h1>
        <p class="fw-bold mt-4"><%= sanitize add_definitions(@page.description) %></p>
      </div>
      <% if @page.children.any? %>
        <div class="offset-lg-1 col-lg-6 mt-5">
          <ul class="pages-list row">
            <% @page.children.ordered_by_position.each do |page| %>
              <li class="col-lg-6">
                <%= link_to page, page %>
              </li>
            <% end %>
            <% if @page.is_lab? %>
              <li class="col-lg-6">
                <%= link_to t('footer.rejoin'), offers_path %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</header>

<div class="document-content">
  <%= render 'pages/blocks/list', blocks: @page.blocks.ordered %>
</div>
