<%= content_for :title, Project.model_name.human(count: 2) %>

<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= Project.model_name.human(count: 2) %></h1>
          <p class="mt-3 mt-md-5">Des matériaux dont la qualité a été vérifiée par la pratique et par la recherche, avec des données détaillées en matière de critères environnementaux et de critères d’usage en scénographie, afin de proposer plus qu’un annuaire d’alternatives aux matériaux pétrosourcés.</p>
        </hgroup>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= Project.published.count %></dt>
          <dd>Projets</dd>
        </dl>
        <%= link_to 'Voir le glossaire', options_projects_path, class: 'small arrow-right' %>
      </div>
    </div>
  </div>  
</header>

<div class="document-content bg-white py-5">
  <div class="container directory">
    <div class="row">
      <%= render 'application/toc-cta' %>
    </div>
    <div class="row align-items-start position-relative mt-4">
      <div class="toc col-lg-3" tabindex="-1" id="offcanvasScrolling">
        <%= render 'faceted_search/facets', facets: @facets %>
      </div>
      <div class="directory-container col-lg-9">
        <%= render 'projects/list', objects: @projects %>
        <%= paginate @projects, theme: "bootstrap-5" %>
      </div>
    </div>
  </div>

  <div class="call-to-action bg-projects mt-5">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-lg-6">
          <h3 class="cta-title"><%= t('projects.call_to_action.title') %></h3>
          <p class="mt-4 d-none d-md-block"><%= t('projects.call_to_action.text') %></p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-md-0">
          <a href="#" class="btn btn-dark"><%= t('projects.call_to_action.button') %></a>
        </div>
      </div>
    </div>
  </div>
</div>