<%= content_for :title, @project %>
<header class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="position-absolute pt-3 ps-3">
          <%= render 'favorites/button', about: @project %>
        </div>
        <%= render 'illustration', source: @project %>
      </div>
      <div class="col-lg-6">
        <div class="border-bottom pb-4 mb-4">
          <h1><%= @project %></h1>
          <p class="mb-4"><%= sanitize @project.description %></p>
          <%= render 'meta', about: @project %>
        </div>
        <%= render 'structure/items/zones/header', about: @project %>
        <%= render 'regions', about: @project %>
      </div>
    </div>
  </div>
</header>

<main>

  <%= render 'structure/items/zones/page', about: @project %>

  <% if @project.materials.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2><%= t('ui.project.materials', count: @project.materials.count) %></h2>
        <%= render 'materials/list', objects: @project.materials %>
      </div>
    </section>
  <% end %>

  <% if @project.actors.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2><%= t('ui.project.actors', count: @project.actors.count) %></h2>
        <%= render 'actors/list', objects: @project.actors %>
        <div class="row">
          <p class="small col-md-6">*Sont mis en avant les membres du Lab qui ont participé à la rédaction de cette fiche, mais l’équipe projet est plus vaste.<p>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'projects/show/brezet_wheel', project: @project if @project.has_brezet_wheel? %>
</main>