<%= content_for :title, @project %>
<%= content_for :meta_description, @project.description if @project.description.present? %>
<%= content_for :og_image, polymorphic_url(@project.image, only_path: false) if @project.image.attached? %>

<%= render 'hero', object: @project %>

<div class="document-content">

  <%= render 'structure/items/zones/page', about: @project %>

  <% if @actors.any? %>
    <section class="actors bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.project.actors', count: @actors.count) %></h2>
        <%= render 'actors/list', objects: @actors %>
        <div class="row">
          <p class="small col-md-6">*Sont mis en avant les membres du Lab qui ont participé à la rédaction de cette fiche, mais l’équipe projet est plus vaste.<p>
        </div>
      </div>
    </section>
  <% end %>

  <% if @project.has_brezet_wheel? %>
    <section class="bg-light py-5 brezet-wheel-container position-relative">
      <div class="container">
        <div class="row">
          <div class="brezet-wheel">
            <div class="row">
              <div class="col-lg-5 col-xxl-4">
                <h2><%= t('projects.brezet_wheel.title') %></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <%= render 'projects/brezet_wheel/figure' %>
              </div>
            </div>
          </div>
          <div class="col-lg-6 brezet-details offset-lg-6 mt-4 mt-lg-8 position-relative">
            <div class="mt-lg-6">
              <%= render 'projects/brezet_wheel/static_texts' %>
              <%= render 'projects/brezet_wheel/step', step: 0 %>
              <%= render 'projects/brezet_wheel/step', step: 1 %>
              <% if @materials.any? %>
                <section class="project-materials pt-3 pt-lg-5">
                    <h2 class="h3 fw-bold mb-2 pb-1"><%= t('ui.project.materials', count: @materials.count) %></h2>
                    <%= render 'list', objects: @materials, col_number: 6 %>
                </section>
              <% end %>
              <%= render 'projects/brezet_wheel/step', step: 2 %>
              <%= render 'projects/brezet_wheel/step', step: 3 %>
              <% if @technics.any? %>
                <section class="project-technics pt-3 pt-lg-5">
                  <h2 class="h3 fw-bold mb-2 pb-1"><%= t('ui.project.technics', count: @technics.count) %></h2>
                  <%= render 'list', objects: @technics, col_number: 6 %>
                </section>
              <% end %>
              <%= render 'projects/brezet_wheel/step', step: 4 %>
              <%= render 'projects/brezet_wheel/step', step: 5 %>
              <%= render 'projects/brezet_wheel/step', step: 6 %>
              <%= render 'projects/brezet_wheel/step', step: 7 %>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'structure/items/zones/lower_page', about: @project %>

  <%= render 'comments/list', about: @project %>

</div>