<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= kamifusen_tag @project.image, 
                        class: 'img-fluid rounded square', 
                        alt: @project if @project.image.attached? %>
    </div>
    <div class="col-lg-6">
      <%= render 'structure/title_with_structure', about: @project %>
      <p class="mb-5"><%= sanitize @project.description %></p>
      <hr class="my-5">
      <%= render 'structure/items/zones/header', about: @project %>
      <%= render 'application/regions', about: @project %>
    </div>
  </div>
  <%= render 'structure/items/zones/page', about: @project %>
</div>
