<%= content_for :title, @project %>
<header class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="position-absolute pt-3 ps-3">
          <%= render 'favorites/button', about: @project %>
        </div>
        <%= render 'illustration', source: @project %>
      </div>
      <div class="col-lg-6">
        <div class="border-bottom pb-4 mb-4">
          <h1><%= @project %></h1>
          <% if @project.description.present? %>
            <p class="small text-muted mt-4"><%= t('ui.global.hero') %></p>
            <p class="mb-4"><%= sanitize @project.description %></p>
          <% end %>
          <%= render 'meta', about: @project %>
        </div>
        <%= render 'structure/items/zones/header', about: @project %>
        <%= render 'regions', about: @project %>
      </div>
    </div>
  </div>
</header>

<main>

  <%= render 'structure/items/zones/page', about: @project %>

  <% if @project.actors.any? %>
    <section class="actors bg-white py-5">
      <div class="container">
        <h2><%= t('ui.project.actors', count: @project.actors.count) %></h2>
        <%= render 'actors/list', objects: @project.actors %>
        <div class="row">
          <p class="small col-md-6">*Sont mis en avant les membres du Lab qui ont participé à la rédaction de cette fiche, mais l’équipe projet est plus vaste.<p>
        </div>
      </div>
    </section>
  <% end %>

  <% if @project.has_brezet_wheel? %>
    <section class="bg-light py-5 brezet-wheel-container">
      <div class="container">
        <div class="row">
          <div class="brezet-wheel col-lg-12">
            <div class="row">
              <div class="col-lg-5 col-xxl-4">
                <h2><%= t('projects.brezet_wheel.title') %></h2>
              </div>
            </div>
            <div class="col-xl-6 mt-4">
              <%= render 'projects/brezet_wheel/figure' %>
            </div>
          </div>
          <div class="col-xl-6 brezet-details offset-lg-6 mt-5 mt-md-8 position-relative">
          <div class="mt-6">
            <%= render 'projects/brezet_wheel/static_texts' %>
            <%= render 'projects/brezet_wheel/step', step: 0 %>
            <%= render 'projects/brezet_wheel/step', step: 1 %>
            <% if @project.materials.any? %>
              <section class="project-materials pt-3 pt-lg-5">
                  <h2 class="mb-2"><%= t('ui.project.materials', count: @project.materials.count) %></h2>
                  <%= render 'materials/list', objects: @project.materials %>
              </section>
            <% end %>
            <%= render 'projects/brezet_wheel/step', step: 2 %>
            <% if @project.technics.any? %>
              <section class="project-technics pt-3 pt-lg-5">
                <h2 class="mb-2"><%= t('ui.project.technics', count: @project.technics.count) %></h2>
                <%= render 'technics/list', objects: @project.technics %>
              </section>
            <% end %>
            <%= render 'projects/brezet_wheel/step', step: 3 %>
            <%= render 'projects/brezet_wheel/step', step: 4 %>
            <%= render 'projects/brezet_wheel/step', step: 5 %>
            <%= render 'projects/brezet_wheel/step', step: 6 %>
            <%= render 'projects/brezet_wheel/step', step: 7 %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <%= render 'structure/items/zones/lower_page', about: @project %>

  <%= render 'comments/list', about: @project %>

</main>