<div class="nested-fields img-gallery">
  <div class="card">
    <div class="fields card-body">
      <div class="row">
        <div class="col-lg-1 d-flex flex-column justify-content-between">
          <i class="<%= Icon::SORT %> handle"></i>

          <%= link_to_remove_association '<i class="bi bi-trash"></i>'.html_safe, f, class: 'text-danger' %>
        </div>
        <div class="col-lg-6">
          <%= f.input :file,
                      as: :single_deletable_file,
                      input_html: { accept: default_images_formats_accepted },
                      hint: images_formats_accepted_hint,
                      label: Structure::Value::File.human_attribute_name("image"),
                      label_html: { class: "small" },
                      preview: true %>
        </div>
        <div class="col-lg-5">
          <%= f.input :alt, label_html: { class: "small" } %>
          <%= f.input :text, label_html: { class: "small" } %>
          <%= f.input :credit, label_html: { class: "small" } %>
        </div>
      </div>
    </div>
  </div>
</div>
