<div class="nested-fields mb-3">
  <div class="d-flex align-items-center flex-wrap">
    <div class="me-3">
      <i class="bi bi-arrow-down-up handle"></i>
    </div>
    <div class="fields flex-grow-1">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :file,
                      as: :single_deletable_file,
                      label: Structure::Value::File.human_attribute_name("image"),
                      label_html: { class: "small" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :text, label_html: { class: "small" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :alt, label_html: { class: "small" } %>
        </div>
        <div class="col-md-6">
          <%= f.input :credit, label_html: { class: "small" } %>
        </div>
      </div>
    </div>
    <%= link_to_remove_association t('delete'), f, class: 'btn btn-sm btn-danger ms-3' %>
  </div>
</div>
