<%
options = item.options_for(about)
text = item.text_for(about)
%>
<% if options.any? %>
  <div class="swatches">
    <% options.each do |option| %>
      <span class="swatch">
        <span class="swatch__color">
          <span class="swatch__color__inner  swatch__color__inner--<%= option.slug %>"></span>
        </span>
        <a href="<%= url_with_optional_region(about, item, option) %>" class="swatch__name stretched-link">
          <%= option %>
        </a>
      </span>
    <% end %>
  </div>
<% else %>
  <span class="<%= tag_classes_disabled %>"><%= t('admin.structure.not_set') %></span>
<% end %>
<% if text.present? %>
  <p><%= text %></p>
<% end %>
