<%
options = item.options_for(about)
text = item.text_for(about)
%>
<% if options.any? %>
  <div class="swatches">
    <% options.each do |option| %>
      <span class="swatch">
        <span class="swatch__color">
          <span class="swatch__color__inner  swatch__color__inner--<%= option.slug %>"></span>
        </span>
        <a href="<%= polymorphic_option_path(option) %>" class="swatch__name stretched-link">
          <%= option %>
        </a>
      </span>
    <% end %>
  </div>
<% else %>
  <span class="<%= tag_classes_disabled %>"><%= t('admin.structure.not_set') %></span>
<% end %>
<% if text.present? %>
  <p class="small mt-2"><%= text %></p>
<% end %>
