<%
option = item.option_for(about)
%>
<% if option %>
  <a href="<%= polymorphic_option_path(option) %>" class="<%= tag_classes %>" title="<%= option %>">
    <%= option %>
  </a>
<% else %>
  <span class="<%= tag_classes_disabled %>"><%= t('admin.structure.not_set') %></span>
<% end %>
<% if item.with_explanation && text.present? %>
  <p class="small mt-2"><%= text %></p>
<% end %>
