<%
elements = block.data.dig('elements')
%>
<div class="block block-collapse pt-5">
  <div class="container">
    <% if block.name.present? %>
      <h2 class="mb-4"><%= block.name %></h2>
    <% end %>
    <% elements.each_with_index do |element, index| %>
      <%
      collapse_id = "collapse-#{block.id}-#{index}"
      title = element.dig('title')
      text = element.dig('text')
      %>
      <div class="block-collapse__item">
        <h3>
          <a class="block-collapse__item__toggle" data-bs-toggle="collapse" href="#<%= collapse_id %>" role="button" aria-expanded="false" aria-controls="<%= collapse_id %>">
            <%= title %>
          </a>
        </h3>
        <div class="collapse" id="<%= collapse_id %>">
          <%= simple_format text %>
        </div>
        <hr>
      </div>
  <% end if elements %>
</div>