<%
elements = block.data.dig('elements')
%>
<div class="block block-gallery py-5 overflow-hidden">
  <div class="container">
    <% if block.name.present? %>
      <h2 class="m-0"><%= block.name %></h2>
    <% end %>
    <% if elements %>
      <% if elements.count > 2 %>
        <div class="splide mt-4" aria-label="Galerie">
          <div class="splide__track">
            <ul class="splide__list">
              <% elements.each do |element| %>
                <%
                alt = element.dig('alt')
                caption = element.dig('caption')
                image_blob_id = element.dig('image', 'id')
                image_blob = ActiveStorage::Blob.find_by(id: image_blob_id)
                %>
                <% next unless image_blob %>
                <li class="splide__slide col-md-6">
                  <figure>
                    <%= kamifusen_tag image_blob, 
                                      width: 600, 
                                      alt: alt,
                                      class: 'img-fluid rounded' if image_blob %>
                    <% if caption.present? %>
                      <figcaption class="mt-1 small"><%= caption %></figcaption>
                    <% end %>
                  </figure>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="row mt-4">
          <% elements.each do |element| %>
            <%
            alt = element.dig('alt')
            caption = element.dig('caption')
            image_blob_id = element.dig('image', 'id')
            image_blob = ActiveStorage::Blob.find_by(id: image_blob_id)
            %>
            <div class="col-lg-6">
              <figure>
                <%= kamifusen_tag image_blob, 
                                  width: 600, 
                                  alt: alt,
                                  class: 'img-fluid rounded' if image_blob %>
                <figcaption class="small mt-2"><%= caption %></figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>