<%= content_for :title, t('ui.subscriptions.new.title') %>

<header class="hero pb-6 pb-md-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= t('ui.subscriptions.new.title') %></h1>
          <p class="mt-3 mt-md-5 col-md-6 col-lg-12 mb-6 mb-md-0">
            L'écothèque de l'Augures Lab Scénogrrrraphie est une plateforme collaborative dédiée à l'écoscénographie par et pour les professionnel·les du secteur culturel.
            Par le référencement d'écosystèmes d'acteur·rices de l'économie circulaire, de projets engagés dans une démarche d'écoconception, de matériaux alternatifs et de techniques d'assemblage ingénieuses, l'écothèque vise à apporter des solutions écoresponsables concrètes pour les acteur·rices de la chaîne de la scénographie.
          </p>
        </hgroup>
      </div>
    </div>
  </div>
  <%= image_tag('letters/lab.svg', alt: '', width: '1440', height: '564') %>
</header>

<div class="document-content bg-light">
  <div class="container py-5">
    <ol class="subscription-steps">
      <li><span>1</span>Choix d'abonnement</li>
      <li><span>2</span>Récapitulatif</li>
      <li><span>3</span>Paiement</li>
      <li class="is-selected"><span>4</span>Vérification</li>
      <li><span>5</span>Confirmation</li>
    </ol>

    <h2>
      <span class="spinner-border" role="status"></span>
      Paiement en cours de traitement
    </h2>
    <p>Veuillez patienter, vous allez être automatiquement redirigé·e lorsque votre paiement sera traité.</p>
    <div id="js-subscription-verification" data-checkout-intent-id="<%= params[:checkout_intent_id] %>" data-url="<%= verification_subscription_path %>"></div>
  </div>
</div>