<%= simple_form_for [:admin, criterion] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :about_class, 
                collection: Criterion::ABOUT_CLASSES.map { |klass| [klass.model_name.human(count: 2), klass]}, 
                include_blank: false %>
    <%= f.input :kind, include_blank: false %>
    <%= f.input :hint %>
    <%= f.input :position %>
  </div>
  
  <% content_for :buttons do %>
    <%= destroy_link criterion if criterion.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
