<figure id="brezet-navigation" class="position-relative" style="opacity: 0;">
  <%= image_tag('brezet-wheel.svg', alt: '', class: 'brezet-wheel-image') %>
  <div class="brezet-steps">
    <div class="step-0">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-0">0</a>
      <span><%= t("projects.brezet_wheel.step0") %></span>
    </div>
    <div class="step-1">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-1">1</a>
      <span><%= t("projects.brezet_wheel.step1") %></span>
    </div>
    <div class="step-2">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-2">2</a>
      <span><%= t("projects.brezet_wheel.step2") %></span>
    </div>
    <div class="step-3">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-3">3</a>
      <span><%= t("projects.brezet_wheel.step3") %></span>
    </div>
    <div class="step-4">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-4">4</a>
      <span><%= t("projects.brezet_wheel.step4") %></span>
    </div>
    <div class="step-5">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-5">5</a>
      <span class="me-3"><%= t("projects.brezet_wheel.step5") %></span>
    </div>
    <div class="step-6">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-6">6</a>
      <span><%= t("projects.brezet_wheel.step6") %></span>
    </div>
    <div class="step-7">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-7">7</a>
      <span><%= t("projects.brezet_wheel.step7") %></span>
    </div>
  </div>
</figure>
<p class="small mt-lg-6">© studio dazd – Augures Lab Scénogrrrraphie, d'après la roue de Brezet</p>
<div class="brezet-mobile-navigation d-lg-none mt-5 pt-lg-3">
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-0">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-0">0</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step0") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-1">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-1">1</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step1") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-2">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-2">2</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step2") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-3">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-3">3</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step3") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-4">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-4">4</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step4") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-5">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-5">5</a>
      <p class="fw-bold me-3"><%= t("projects.brezet_wheel.step5") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-6">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-6">6</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step6") %></p>
    </div>
    <div class="d-flex align-items-baseline mt-3 position-relative gap-2 step-7">
      <a class="btn rounded-pill btn-dark stretched-link mobile-link" href="#step-7">7</a>
      <p class="fw-bold"><%= t("projects.brezet_wheel.step7") %></p>
    </div>
</div>