<%
criterions = Project::Criterion.for_step(step)
answers = @project.answers.includes(:criterion).where(criterion: criterions, value: true).order("project_criterions.position")
%>
<% if answers.any? %>
  <h3 id="step-<%= step %>" class="h2 mt-4 mt-lg-5">
    <%= step%>. <%= t("projects.brezet_wheel.step#{step}") %>
  </h3>
  <% answers.each do |answer| %>
    <div class="mt-4">
      <h4 class="label with-check"><%= answer.criterion.name %></h4>
      <p class="mt-2">
        <%= sanitize answer.text %>
      </p>
    </div>
  <% end %>
<% end %>
