<% anchor ||= '' %>
<% if facet.values.any? %>
  <%- has_selected_values = facet.values.any? { |value| facet.value_selected?(value.slug) } -%>
  <li class="accordion-item">
      <h4 class="accordion-header" id="heading<%= facet.name %>">
        <button class="accordion-button d-flex w-100 align-items-baseline justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= facet.name %>" aria-expanded="<%= has_selected_values %>" aria-controls="collapse<%= facet.name %>">
          <% unless facet.title.blank? %><b><%= facet.title %></b><% end %>
        </button>
      </h4>
      <div id="collapse<%= facet.name %>" class="accordion-collapse collapse <%= 'show' if has_selected_values %>" aria-labelledby="heading<%= facet.name %>">
        <ol class="faceted__facet__item list-inline pt-2">
          <% facet.values.each do |value| %>
            <li class="list-inline-item faceted__facet__item__value">
              <%= render 'faceted_search/facets/item/item',
                          value: value,
                          facet: facet,
                          anchor: anchor %>
            </li>
          <% end %>
        </ol>
      </div>
  </li>
<% end %>