<section id="section-actors" class="home-navigation actors">
  <div class="container d-flex flex-column flex-lg-column-reverse pb-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-lg-0">
        <h2><%= t('ecosystem') %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Identifier et localiser des acteur·rices de l’économie circulaire', actors_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p><%= t('actors.description') %></p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @actors_count %></dt>
          <dd><%= Actor.model_name.human(count: Actor.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>
