<section class="home-navigation technics">
  <div class="container d-flex flex-column flex-lg-column-reverse pb-5 py-lg-8">
    <div class="row align-items-end mt-4 mt-xl-8">
      <div class="col-12 col-xl-8 mb-2 mb-xl-0">
        <h2><%= Technic.model_name.human(count: 2) %></h2>
      </div>
      <div class="home-navigation__link col col-lg-4 position-relative">
        <%= link_to 'Découvrir des produits, des techniques et des assemblages', technics_path(region_slug: nil), class: 'text-decoration-none stretched-link d-flex flex-column' %>
      </div>
    </div>
    <div class="row align-items-start mt-5 mt-lg-0">
      <div class="col-lg-7">
        <p class="fw-bold"><%= t('technics.description') %></p>
      </div>
      <div class="col-lg-4 offset-lg-1 mt-3 mt-lg-0">
        <dl class="text-lowercase">
          <dt class="key-figure"><%= @technics_count %></dt>
          <dd><%= Technic.model_name.human(count: Technic.all.count).downcase %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>
