<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Product.human_attribute_name('name') %></th>
        <th><%= Product.human_attribute_name('price') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr>
          <td><%= link_to_if can?(:read, product), product, [:admin, product] %></td>
          <td><%= number_to_currency product.price %></td>
          <td class="text-end">
            <%= edit_link product %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
