<%= simple_form_for [:admin, region] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :image, as: :single_deletable_file %>
      <%= f.input :image_alt %>
      <%= f.input :image_credit %>
    </div>
    <div class="col-lg-8">
      <%= f.input :name %>
      <%= f.input :description %>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= destroy_link region if region.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
