<%= content_for :title, @region %>

<div class="row">
  <div class="col-lg-4">
    <%= show @region, :image, type: :image %>
  </div>
  <div class="col-lg-8">
    <%= show @region, :description %>
  </div>
</div>

<h2 class="h5 mt-5"><%= Material.model_name.human(count: 2) %></h2>
<%= render 'admin/materials/list', materials: @region.materials %>

<h2 class="h5 mt-5"><%= Project.model_name.human(count: 2) %></h2>
<%= render 'admin/projects/list', projects: @region.projects %>

<% content_for :buttons do %>
  <%= destroy_link @region %>
  <%= edit_link @region %>
<% end %>
