<select class="form-select select" 
        name="<%= about.class.to_s.parameterize %>[items][<%= item.id %>][option]"
        id="item_<%= item.id %>">
  <option value="" label=""></option>
  <% item.options.ordered.each do |option| %>
    <option <%= 'selected="selected"' if item.selected_option?(about, option) %> value="<%= option.id %>">
      <%= option %>
    </option>
  <% end %>
</select>
<% if item.with_explanation %>
  <label class="form-label small"><%= t('admin.structure.explanation') %></label>
  <textarea class="form-control text" 
            name="<%= about.class.to_s.parameterize %>[items][<%= item.id %>][text]" 
            id="item_<%= item.id %>_text"><%= item.text_for(about) %></textarea>
<% end %>
