<%= simple_form_for [:admin, user] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :role,
                  include_blank: false,
                  collection: current_user.managed_roles,
                  label_method: lambda { |k| t("activerecord.attributes.user.roles.#{k[1]}")} %>
      <%= f.input :mobile_phone %>
    </div>
  </div>

  <% content_for :buttons do %>
    <%= destroy_link user if user.persisted? %>
    <%= submit f %>
  <% end %>
<% end %>
