<%= content_for :title, @user %>

<%= render 'lock' %>

<div class="row">
  <% if @user.image.attached? %>
    <div class="col-md-4">
      <%= kamifusen_tag @user.image, class: 'img-fluid' %>
    </div>
  <% end %>
  <div class="col-md-5">
    <%= show @user, :last_name %>
    <%= show @user, :first_name %>
    <%= show @user, :mobile_phone %>
    <div class="mb-5">
      <label class="small text-muted"><%= User.human_attribute_name :email %></label>
      <p><%= link_to @user.email, "mailto:#{@user.email}" %></p>
    </div>
    <div class="mb-5">
      <label class="small text-muted"><%= User.human_attribute_name :role %></label>
      <p><%= t("activerecord.attributes.user.roles.#{@user.role}") %></p>
    </div>
    <%= show @user, :website if @user.lab_member? && @user.website.present? %>
    <% if @user.lab_member? && @user.description.present? %>
      <div class="mb-5">
        <label class="small text-muted"><%= User.human_attribute_name :description %></label>
        <%= simple_format @user.description %>
      </div>
    <% end %>
    <% if @user.active_subscription.present? && can?(:read, @user.active_subscription) %>
      <%= show @user, :active_subscription, type: :reference %>
    <% end %>
  </div>
</div>


<% content_for :buttons do %>
  <%= destroy_link @user %>
  <%= edit_link @user %>
<% end %>
