<%= content_for :title, Material.model_name.human(count: 2)  %>

<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= Material.model_name.human(count: 2) %></h1>
          <p class="mt-3 mt-md-5"><%= t('materials.description') %></p>
        </hgroup>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= @all_materials.count %></dt>
          <dd>Matériaux</dd>
        </dl>
        <%= link_to 'Voir le glossaire', options_materials_path, class: 'small arrow-right' %>
      </div>
    </div>
  </div>
</header>

<div class="document-content bg-white py-5" id="results">
  <div class="container directory">
    <div class="row">
      <%= render 'application/offcanvas-search-cta' %>
    </div>
    <div class="row align-items-start position-relative mt-lg-4">
      <div class="offcanvas-search col-lg-3 mt-3 mt-lg-0 pt-3 pt-lg-0" tabindex="-1" id="offcanvasScrolling">
        <%= render 'faceted_search/facets', facets: @facets, anchor: "#results" %>
      </div>
      <div class="directory-container col-lg-9 materials-list mt-4 mt-lg-0">
        <%= render 'list', objects: @materials, col_number: 4 %>
        <%= paginate @materials, theme: "bootstrap-5", params: { anchor: "results" } %>
      </div>
    </div>
  </div>
  <%= render 'reference-cta', objects: @materials %>
</div>