<div class="container">
  <h1><%= Material.model_name.human(count: 2) %></h1>
  <%= link_to 'Glossaire', options_materials_path %>
  <div class="row">
    <div class="col-lg-3">
      <%= render 'faceted_search/facets', facets: @facets %>
    </div>
    <div class="col-lg-9">
      <%= render 'materials/list', objects: @materials %>
      <%= paginate @materials, theme: "bootstrap-5" %>
    </div>
  </div>
</div>