<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= kamifusen_tag @material.image,
                        class: 'img-fluid rounded square', 
                        alt: @material if @material.image.attached? %>
    </div>
    <div class="col-lg-6">
      <h1 class="mb-5"><%= @material %></h1>
      <div class="row">
        <div class="col-lg-6">
          <p class="fw-bold"><%= sanitize @material.description %></p>
        </div>
        <div class="col-lg-6">
          <p class="small text-muted">
            Publié par 
            <a href="" class="text-muted">Pierre-André Boissinot</a> 
            le 25/12/2023<br>
            Mis à jour le 12/01/2024
          </p>
          <%= link_to '', class: 'btn btn-sm btn-light bg-secondary-subtle add_to_favorites' do %>
            Ajouter aux favoris
          <% end %>
        </div>
      </div>
      <hr>
      <%= link_to @material.region, @material.region, class: 'btn btn-outline-dark btn-sm rounded-pill' if @material.region %>
    </div>
  </div>
</div>
<%= render 'structure/items/show', about: @material %>
<% if @material.actor %>
  <section class="bg-white py-5">
    <div class="container">
      <h2><%= Material.human_attribute_name('actor') %></h2>
      <div class="row">
        <div class="offset-lg-6 col-lg-6">
          <div class="row">
            <div class="col-4">
            <%= link_to @material.actor do %>
              <%= kamifusen_tag @material.actor.image, width: 300, class: 'img-fluid rounded square' %>
              <% end %>
            </div>
            <div class="col-8">
              <h3><%= link_to @material.actor, @material.actor %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>