<%= content_for :title, @material %>

<header class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <div class="btn-favorites position-absolute pt-2 ps-2">
          <%= render 'favorites/button', about: @material %>
        </div>
        <%= render 'illustration', source: @material %>
        <% if @material.image_credit.present? %>
          <p class="small credit mt-1"><%= @material.image_credit %></p>
        <% end %>
      </div>
      <div class="col-lg-6 mt-4 mt-md-0">
        <h1><%= @material %></h1>
        <% if @material.description.present? %>
          <p class="small text-muted mt-4"><%= t('ui.global.hero') %></p>
          <p class="fw-bold"><%= sanitize @material.description %></p>
        <% end %>
        <%= render 'meta', about: @material %>
        <hr class="my-4">
        <%= render 'structure/items/zones/header', about: @material %>
        <%= render 'regions', about: @material %>
      </div>
    </div>
  </div>
</header>

<% if user_is_subscribed? %>

  <%= render 'structure/items/zones/page', about: @material %>

  <% if actor = @actors.premium.with_contact_informations.first %>
    <section class="py-5 actors-list">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.material.contact') %></h2>
        <%= render 'actors/contact', actor: actor %>
      </div>
    </section>
  <% end %>

  <% if @actors.any? %>
    <section class="bg-white pt-5 actors-list">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.material.actors') %></h2>
        <%= render 'actors/list', objects: @actors %>
      </div>
    </section>
  <% end %>

  <% if @projects.any? %>
    <section class="bg-white pt-5 projects-list">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.material.projects', count: @projects.count) %></h2>
        <%= render 'list', objects: @projects %>
      </div>
    </section>
  <% end %>

  <%= render 'comments/list', about: @material %>

<% else %>

  <%= render 'paywall' %>

<% end %>
