<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= kamifusen_tag @material.image,
                        class: 'img-fluid rounded square', 
                        alt: @material if @material.image.attached? %>
    </div>
    <div class="col-lg-6">
      <%= render 'structure/title_with_structure', about: @material %>
      <p class="fw-bold"><%= sanitize @material.description %></p>
      <%= render 'application/meta', about: @material %>
      <hr class="my-5">
      <%= render 'structure/items/zones/header', about: @material %>
      <%= render 'application/regions', about: @material %>
    </div>
  </div>
</div>
<%= render 'structure/items/zones/page', about: @material %>

<% if @material.actor %>
  <section class="bg-white py-5">
    <div class="container">
      <h2><%= Material.human_attribute_name('actor') %></h2>
      <div class="row">
        <div class="offset-lg-6 col-lg-6">
          <div class="row">
            <div class="col-4">
              <%= link_to @material.actor do %>
                <%= kamifusen_tag @material.actor.image, width: 300, alt: @material.actor, class: 'img-fluid rounded square' %>
              <% end %>
            </div>
            <div class="col-8">
              <h3><%= link_to @material.actor, @material.actor %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if @material.projects.any? %>
  <section class="bg-white py-5">
    <div class="container">
      <h2><%= t('ui.material.projects', count: @material.projects.count) %></h2>
      <%= render 'projects/list', objects: @material.projects %>
    </div>
  </section>
<% end %>