<section class="bg-light py-5 brezet-wheel-container">
  <div class="container">
    <div class="row">
      <div class="brezet-wheel col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <h2><%= t('projects.brezet_wheel.title') %></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <figure id="brezet-navigation" class="position-relative d-md-flex align-items-end">
            <%= image_tag('brezet-wheel.svg', alt: '', class: 'brezet-wheel-image d-block mx-auto') %>
            <div class="brezet-steps mx-auto">
              <div class="step-0 d-flex flex-column-reverse align-items-start">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-0">0</a>
                <span>Concevoir ensemble</span>
              </div>
              <div class="step-1 d-flex align-items-end">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-1">1</a>
                <span>Sélection des matériaux ayant le moins d’impact</span>
              </div>
              <div class="step-2 d-flex align-items-end">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-2">2</a>
                <span>Réduction de la quantité de matière</span>
              </div>
              <div class="step-3 d-flex align-items-center">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-3">3</a>
                <span>Optimisation des techniques de production</span>
              </div>
              <div class="step-4 d-flex flex-column align-items-start">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-4">4</a>
                <span>Optimisation de la logistique</span>
              </div>
              <div class="step-5 text-end d-flex flex-column align-items-end">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-5">5</a>
                <span class="me-3">Réduction de l’impact environnemental de la phase d’utilisation</span>
              </div>
              <div class="step-6 text-end d-flex flex-row-reverse align-items-center">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-6">6</a>
                <span>Optimisation de la durée de vie du projet</span>
              </div>
              <div class="step-7 text-end d-flex flex-row-reverse align-items-center">
                <a class="btn rounded-pill btn-dark stretched-link" href="#step-7">7</a>
                <span>Optimisation de la fin de vie du projet</span>
              </div>
            </div>
            <figcaption class="small mt-4">© studio dazd – Augures Lab Scénogrrrraphie</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6 brezet-details offset-lg-6 mt-5 mt-md-8 position-relative">
      <div class="mt-7">
        <% (0..7).each_with_index do |step, index| %>
          <% step_values = Project.fields_for_step(step).map { |attribute_name| project.public_send("#{attribute_name}") } %>
          <% if step_values.any?(&:present?) %>
            <h3 id="step-<%= index %>" class="h2 mt-7"><%= t("projects.brezet_wheel.step#{step}") %></h3>
            <% Project.fields_for_step(step).each do |attribute_name| %>
              <% 
              value = project.public_send("#{attribute_name}") 
              text = project.public_send("#{attribute_name}_text")
              %>
              <% if value %>
                <div class="mt-4">
                  <h4 class="label with-check"><%= Project.human_attribute_name(attribute_name) %></h4>
                  <p class="mt-2">
                    <%= sanitize text %>
                  </p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>