<%= content_for :title, @subscription %>

<div class="row">
  <div class="col-lg-8">
    <h3>Informations générales</h3>
    <%= show @subscription, :user, type: :reference %>
    <%= show @subscription, :product, type: :string, value: @subscription.product %>
    <%= show @subscription, :paid_amount, type: :currency %>
    <%= show @subscription, :paid_at %>
    <%= show @subscription, :expiration_date, value: @subscription.expiration_date_to_display %>
  </div>
  <div class="col-lg-4">
    <h3>Informations HelloAsso</h3>
    <%= show @subscription, :helloasso_checkout_intent_identifier %>
    <%= show @subscription, :helloasso_order_identifier %>
  </div>
</div>
