<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <h1><%= @region %></h1>
      <p class="mb-5"><%= sanitize @region.description %></p>
    </div>
    <div class="col-lg-4">
      <%= kamifusen_tag @region.image, class: 'img-fluid rounded', alt: @region.image_alt if @region.image.attached? %>
    </div>
  </div>

  <div>
    <%= @region.materials.count %>
    <%= Material.model_name.human(count: @region.materials.count).downcase %>
  </div>
  <div>
    <%= @region.actors.count %>
    <%= Actor.model_name.human(count: @region.actors.count).downcase %>
  </div>
  <div>
    <%= @region.projects.count %>
    <%= Project.model_name.human(count: @region.projects.count).downcase %>
  </div>

  <h2><%= link_to Material.model_name.human(count: 2), materials_path(@region.slug) %></h2>
  <%= render 'materials/list', objects: @materials %>

  <h2><%= link_to Project.model_name.human(count: 2), projects_path(@region.slug) %></h2>
  <%= render 'projects/list', objects: @projects %>

  <h2><%= link_to t('ecosystem'), actors_path(@region.slug) %></h2>
  <%= render 'actors/list', objects: @actors %>

</div>