<header id="document-header" class="mb-3 is-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
      <div class="navbar-logo col-md-3">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'logo.svg', alt: t('website') %>
        <% end %>
      </div>
      <button id="main-menu-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav col-md-7 offset-md-2 justify-content-between">
          <li class="nav-item">
            <%= link_to t('ecosystem'), actors_path %>
          </li>
          <li class="nav-item">
            <%= link_to Tour.model_name.human(count: 2), tours_path %>
          </li>
          <li class="nav-item">
            <% page = Page.find_by(slug: 'le-projet') %>
            <% if page %>
              <%= link_to page, page_path(page) %>
            <% end %>
          </li>
        </ul>
        <ul class="nav-secondary d-md-flex ps-0">
          <li>
            <button class="btn-icon btn-search" data-bs-toggle="modal" data-bs-target="#searchModal">
              <span><%= t('search.label') %></span>
            </button>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn-icon btn-user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user %>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><%= link_to t('account.my_account'), edit_user_registration_path, class: "dropdown-item" %></li>
                <% if can?(:create, User::Favorite) %>
                  <li><%= link_to t('account.favorites.title'), favorites_path, class: "dropdown-item" %></li>
                <% end %>
                <% if can?(:create, User::Comment) %>
                  <li><%= link_to t('account.comments.title'), user_comments_path, class: "dropdown-item" %></li>
                <% end %>
                <li><%= link_to t('admin.title'), admin_root_path, class: "dropdown-item" %></li>
                <li><%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, class: "dropdown-item border-top", method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to t('login.sign_in'), new_user_session_path, class: "btn-icon btn-user" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
