<header id="document-header" class="mb-3 is-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container d-block">
      <div class="row align-items-lg-center">
        <div class="navbar-logo col col-md-3 col-xl-3">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag 'logo.svg', alt: t('website') %>
          <% end %>
        </div>
        <div class="navbar-nav-content col">
          <button id="main-menu-button" class="d-block d-lg-none ms-auto ms-lg-0 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row align-items-center nav-container">
              <ul class="nav-with-dropdowns header-nav d-md-flex flex-column flex-md-row gap-2 col justify-content-around pt-2 pt-md-1 py-md-1">
                <li class="nav-item">
                  <%= link_to t('ecosystem'), actors_path(region_slug: nil), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to Project.model_name.human(count: 2), projects_path(region_slug: nil), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to Material.model_name.human(count: 2), materials_path(region_slug: nil), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to Technic.model_name.human(count: 2), technics_path(region_slug: nil), class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <% page_tools = Page.find_by(internal_identifier: 'boite-a-outils') %>
                  <%= link_to page_tools, page_path(page_tools), class: "nav-link" %>
                </li>
              </ul>
              <ul class="nav-secondary col-12 col-md-3 col-xl-4 d-flex flex-column flex-md-row gap-2 gap-xl-3 align-items-md-center justify-content-end py-md-1">
                <li class="nav-with-dropdowns nav-item dropdown position-static">
                  <% page_lab = Page.find_by(internal_identifier: 'le-lab') %>
                  <%= link_to page_lab, page_path(page_lab), class: "nav-link" %>
                </li>
                <li>
                  <button class="btn-search rounded-pill" data-bs-toggle="modal" data-bs-target="#searchModal">
                    <span><%= t('search.label') %></span>
                  </button>
                </li>
                <% if user_signed_in? %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn-user rounded-pill" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= current_user %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                      <li><%= link_to t('account.my_account'), edit_user_registration_path, class: "dropdown-item" %></li>
                      <% if can?(:create, User::Favorite) %>
                        <li><%= link_to t('account.favorites.title'), favorites_path, class: "dropdown-item" %></li>
                      <% end %>
                      <% if can?(:create, User::Comment) %>
                        <li><%= link_to t('account.comments.title'), user_comments_path, class: "dropdown-item" %></li>
                      <% end %>
                      <% unless current_user.visitor? %>
                        <li><%= link_to t('admin.title'), admin_root_path, class: "dropdown-item" %></li>
                      <% end %>
                      <li><hr class="dropdown-divider"></li>
                      <li><%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li class="nav-item"><%= link_to t('login.sign_in'), new_user_session_path, class: "btn-user rounded-pill" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>