<%
page_tools = Page.find_by(internal_identifier: 'boite-a-outils')
page_lab = Page.find_by(internal_identifier: 'le-lab')
%>
<header id="document-header" class="mb-3 is-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
      <div class="navbar-logo col-md-3">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'logo.svg', alt: t('website') %>
        <% end %>
      </div>
      <button id="main-menu-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav col-xl-7 justify-content-between">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('ui.directories.title') %>
            </a>
            <ul class="dropdown-menu dropdown-menu--primary col-md-12 p-0">
              <li>
                <%= link_to actors_path(region_slug: nil), class: "dropdown-item dropdown-item--ecosystem py-2" do %>
                  <b><%= t('ecosystem') %></b>
                  <span><%= t('ui.directories.details.actors') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to projects_path(region_slug: nil), class: "dropdown-item dropdown-item--projects py-2" do %>
                  <b><%= Project.model_name.human(count: 2) %></b>
                  <span><%= t('ui.directories.details.projects') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to materials_path(region_slug: nil), class: "dropdown-item dropdown-item--materials py-2" do %>
                  <b><%= Material.model_name.human(count: 2) %></b>
                  <span><%= t('ui.directories.details.materials') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to technics_path(region_slug: nil), class: "dropdown-item dropdown-item--technics py-2" do %>
                  <b><%= Technic.model_name.human(count: 2) %></b>
                  <span><%= t('ui.directories.details.technics') %></span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('menu.primary.toolbox') %>
            </a>
            <ul class="dropdown-menu dropdown-menu--toolbox col-md-12 p-0">
              <% get_toolbox_page.children.ordered_by_position.each do |page| %>
                <li>
                <%= link_to page, class: "dropdown-item dropdown-item--ecosystem py-2" do %>
                  <b><%= sanitize page.name %></b>
                  <%= sanitize page.description %>
                <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to t('menu.primary.lab'), page_path(page_lab), class: "nav-link" %>
          </li>
        </ul>
        <ul class="nav-secondary d-md-flex ps-0">
          <li>
            <button class="btn-icon btn-search" data-bs-toggle="modal" data-bs-target="#searchModal">
              <span><%= t('search.label') %></span>
            </button>
          </li>
          <li>
            <%= link_to regions_path(region_slug: nil), class: "btn-icon btn-regions" do %>
              <span><%= Region.model_name.human(count: 2) %></span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn-icon btn-user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user %>
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><%= link_to t('account.my_account'), edit_user_registration_path, class: "dropdown-item" %></li>
                <% if can?(:create, User::Favorite) %>
                  <li><%= link_to t('account.favorites.title'), favorites_path, class: "dropdown-item" %></li>
                <% end %>
                <% if can?(:create, User::Comment) %>
                  <li><%= link_to t('account.comments.title'), user_comments_path, class: "dropdown-item" %></li>
                <% end %>
                <li><%= link_to t('admin.title'), admin_root_path, class: "dropdown-item" %></li>
                <li><%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, class: "dropdown-item border-top", method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to t('login.sign_in'), new_user_session_path, class: "btn-icon btn-user" %></li>
          <% end %>
            <li class="nav-item offset-md-1"><%= link_to t('menu.primary.donate'), "#TODO", class: "btn-dotane" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>