<%
  klass = objects.klass
  objects = objects.name.downcase.pluralize
%>

<div class="call-to-action bg-<%= objects %> mt-5">
  <div class="container py-5">
    <div class="row align-items-center text-center text-md-start">
      <div class="col-lg-6">
        <h3 class="cta-title"><%= t("#{objects}.call_to_action.title") %></h3>
        <p class="mt-4 d-none d-md-block"><%= t("#{objects}.call_to_action.text") %></p>
      </div>
      <div class="col-lg-3 offset-lg-2 mt-3 mt-lg-0">
        <% if current_user && can?(:create, klass) %>
          <%= link_to t("#{objects}.call_to_action.button"),
                      public_send("new_admin_#{objects.singularize}_path"),
                      class: 'btn btn-night' %>
        <% else %>
          <button class="btn btn-night link-arrow-right" data-bs-toggle="modal" data-bs-target="#suggestionModal"><%= t("#{objects}.call_to_action.button") %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% unless current_user && can?(:create, klass) %>
  <%= render 'registration-modal', context: 'suggestion' %>
<% end %>
