<div class="modal cta-modal" id="<%= context %>Modal" tabindex="-1" aria-labelledby="<%= context %>Title" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content py-md-5 px-md-6">
      <div class="modal-header">
        <h2 class="modal-title mx-auto text-center" id="<%= context %>Title"><%= t('account.modal.title') %></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center p-0">
          <%= t("account.modal.texts.#{context}") %>
      </div>
      <div class="d-flex flew-wrap justify-content-center gap-4 mt-3 mt-md-5">
        <%= link_to t("account.modal.create"),
                    new_user_registration_path,
                    class: 'btn btn-light btn-lg px-4 py-2 fw-bold' %>
      </div>
    </div>
  </div>
</div>