<div class="modal search-modal" id="searchModal" data-bs-backdrop="static" tabindex="-1" aria-label="Fenêtre de recherche" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container text-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container search-container">
        <form class="row align-items-end" role="search">
          <div class="col-10 col-md-5">
            <input class="form-control search-input" type="search" placeholder="<%= t('search.label') %>" aria-label="<%= t('search.label') %>">
          </div>
          <div class="col-2 col-md-7">
            <button class="btn-search rounded-pill" type="submit"><span><%= t('search.label') %></span></button>
          </div>
        </form>
      </div>
      <div class="search-quick-links container mt-4">
        <p class="small"><%= t('search.also') %></p>
        <div class="row">
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to t('ecosystem'), actors_path(region_slug: nil), class: "stretched-link h2 w-100 square rounded bg-actors d-flex align-items-center justify-content-center" %>
          </div>
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to Project.model_name.human(count: 2), projects_path(region_slug: nil), class: "stretched-link h2 w-100 square rounded bg-projects d-flex align-items-center justify-content-center" %>
          </div>
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to Material.model_name.human(count: 2), materials_path(region_slug: nil), class: "stretched-link h2 w-100 square rounded bg-materials d-flex align-items-center justify-content-center" %>
          </div>
          <div class="col-6 mb-3 mb-md-0 col-lg-3 position-relative">
            <%= link_to Technic.model_name.human(count: 2), technics_path(region_slug: nil), class: "square rounded stretched-link h2 w-100 bg-technics d-flex align-items-center justify-content-center" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>