<div class="modal search-modal" id="searchModal" data-bs-backdrop="static" tabindex="-1" aria-label="Fenêtre de recherche" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container text-end">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container search-container">
        <%= form_tag search_path, method: :get, class: "row align-items-end", role: "search" do %>
          <div class="col-10 col-md-5">
            <input name="term" class="form-control search-input" type="search" placeholder="<%= t('search.label') %>" aria-label="<%= t('search.label') %>">
          </div>
          <div class="col-2 col-md-7">
            <button class="btn-search rounded-pill" type="submit">
              <span><%= t('search.label') %></span>
            </button>
          </div>
        <% end %>
      </div>
      <div class="search-quick-links container mt-5">
        <p class="small"><%= t('search.also') %></p>
        <div class="row mt-3">
          <div class="col-6 mb-3 mb-md-0 position-relative">
            <%= link_to t('ecosystem'), actors_path(region_slug: nil), class: "stretched-link h2 w-100 rounded bg-actors d-flex align-items-center justify-content-center" %>
          </div>
          <div class="col-6 mb-3 mb-md-0 position-relative">
            <%= link_to Tour.model_name.human(count: 2), tours_path(region_slug: nil), class: "stretched-link h2 w-100 rounded bg-tours d-flex align-items-center justify-content-center" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>