<%
title = content_for?(:title)  ? "#{CGI::unescapeHTML(yield(:title))} • #{t('website')}"
                              : t('website')
icon = asset_path 'icons/favicons/favicon.png'
color = "#F2F3F4"
description = content_for?(:meta_description) ? yield(:meta_description) : "écothèque, la plateforme collaborative de l’écoscénographie"
og_image = content_for?(:og_image) ? yield(:og_image) : image_url("social/default.jpg")
%>

<title><%= title %></title>
<link rel="icon" href="<%= icon %>">
<meta name="theme-color" content="<%= color %>">
<meta name="description" content="<%= description %>">

<!-- Facebook Meta Tags -->
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:image" content="<%= og_image %>">
<meta property="og:type" content="website">

<% if content_for?(:canonical_url) && !content_for?(:noindex) %>
<link rel="canonical" href="<%= yield(:canonical_url) %>" />
<% end %>
<% if content_for?(:noindex) %>
<meta name="robots" content="noindex">
<% end %>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "écothèque – Augures Lab",
    "url": "https://www.ecotheque.fr",
    "logo": "https://www.ecotheque.fr/logo.png",
    "sameAs": [
      "https://www.linkedin.com/company/les-augures/",
      "https://www.instagram.com/ecotheque_/"
    ]
  }
</script>
