<%
identifier = value
path = facet.facets.path_for(facet, identifier) + anchor
selected = facet.value_selected?(identifier)
%>
<%= link_to path do %>
  <span class="btn <%= selected ? 'btn-dark' : 'btn-outline-dark' %> btn-sm rounded-pill " title="<%= value.to_s %>">
    <%= value.to_s.truncate(25) %><%= selected ? ' ×' : '' %>
  </span>
<% end %>
