<% content_for :with_leaflet, true %>
<% content_for :additional_body_class, 'is-map' %>

<script type="text/javascript" nonce=<%= request.content_security_policy_nonce %>>
  window.map = {
    iconUrl : "<%= asset_path('icons/marker-unselected.svg') %>",
    iconSelectedUrl : "<%= asset_path('icons/marker.svg') %>",
    markers : {
      "type": "FeatureCollection",
      "features": []
    },
  }

  <% shows.each_with_index do |show, index| %>
    <% 
    actor = show.place
    if actor.latitude && actor.longitude %>
      window.map.markers.features.push(
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [<%= actor.latitude %>, <%= actor.longitude %>]
          },
          "properties": {
            "name": "<%= j(actor.to_s.html_safe) %>",
            "popinContent": "<%= j(render("actors/actor", actor: actor)) %>"
          }
        }
      );
    <% end %>
  <% end %>
</script>

<div class="map rounded js-map" data-latitude="48.856614" data-longitude="2.3522219" data-markers="true"></div>
