<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <%= render "seo" %>
    <%= render "plausible" if ENV["APPLICATION_ENV"] == "production" %>
  </head>
  <body class="<%= body_classes(yield(:additional_body_class)) %>">
    <%= render "banner" if @banner.present? && @banner.published? %>
    <%= render "header" %>
    <%= render "notice" %>
    <main>
      <% if breadcrumbs.many? %>
        <div class="container">
          <%= render_breadcrumbs builder: Mazer::BreadcrumbsOnRailsBuilder %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'registration-modal', context: 'favorite' %>
    <%= render "search-modal" %>
    <%= render "footer" %>
  </body>
  <% if content_for? :with_leaflet %>
    <%= javascript_include_tag 'leafletMap', defer: 'defer' %>
  <% end %>
</html>
