<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
    <%= render "seo" %>
  </head>
  <body class="<%= controller_name %>-<%= action_name %>">
    <main>
      <%= render "header" %>
      <%= render "notice" %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
