<header class="hero pb-5 bg-white mt-4 pt-0">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-5">
        <h1><%= t('ui.members.title') %></h1>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= @members.count %></dt>
          <dd><%= t('ui.members.members', count: @members.count) %></dd>
        </dl>
      </div>
    </div>
  </div>  
</header>

<div class="document-content pt-5">
  <div class="container members-list">
    <%= render 'members/list', objects: @members %>
    <%= paginate @members, theme: "bootstrap-5" %>
  </div>
</div>