<header class="hero pb-5 bg-white mt-4 pt-0">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-5">
        <h1><%= t('ui.members.title') %></h1>
        <dl class="mt-4 mb-3 mt-md-5 mb-md-4">
          <dt class="key-figure"><%= @members.count %></dt>
          <dd><%= t('ui.members.members', count: @members.count) %></dd>
        </dl>
      </div>
    </div>
  </div>  
</header>

<div class="document-content">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h2>Titre de section</h2>
      </div>
      <div class="col-lg-6 mt-3 mt-lg-0">
        <p><%= t('ui.members.index') %></p>
      </div>
    </div>
  </div>
  <section class="members-list bg-white">
    <div class="container pt-5">
      <%= render 'members/list', objects: @members %>
      <%= paginate @members, theme: "bootstrap-5" %>
    </div>
  </section>
</div>