
<header class="hero pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'illustration', source: @member %>
      </div>
      <div class="col-lg-6">
        <h1><%= @member %></h1>
        <% if @member.description.present? %>
          <p class="small text-muted m-0"><%= t('ui.members.description') %></p>
          <%= simple_format @member.description %>
        <% end %>
        <p class="small text-muted m-0"><%= t('ui.members.meta', date: l(@member.created_at.to_date)) %></p>
        <hr class="my-4">
        <p class="small mb-2"><%= t('ui.members.contact') %></p>
        <ul class="contact-list list-unstyled">
          <li><%= link_to @member.email, "mailto:#{@member.email}", target: '_blank' %></li>
          <% if @member.mobile_phone.present? %>
            <li class="mt-1"><%= link_to @member.mobile_phone, "tel:#{@member.mobile_phone}", target: '_blank' %></li>
          <% end %>
          <% if @member.website.present? %>
            <li class="mt-1"><%= link_to t('ui.members.website'), @member.website, target: '_blank' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="document-content">
  
  <% if @member.actors.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.members.ecosystem', count: @member.actors.count) %></h2>
        <%= render 'actors/list', objects: @member.actors.ordered %>
      </div>
    </section>
  <% end %>

  <% if @member.projects.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.members.projects', count: @member.projects.count) %></h2>
        <%= render 'projects/list', objects: @member.projects.ordered %>
      </div>
    </section>
  <% end %>

  <% if @member.materials.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.members.materials', count: @member.materials.count) %></h2>
        <%= render 'materials/list', objects: @member.materials.ordered %>
      </div>
    </section>
  <% end %>

  <% if @member.technics.any? %>
    <section class="bg-white py-5">
      <div class="container">
        <h2 class="mb-4"><%= t('ui.members.technics', count: @member.technics.count) %></h2>
        <%= render 'technics/list', objects: @member.technics.ordered %>
      </div>
    </section>
  <% end %>

</div>